{% load static %}
{% load crispy_forms_tags %}

<form method="post" id="ajaxgroupform">
    {% csrf_token %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form.GroupMapping_Name|as_crispy_field }}
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <label>
            Status
        </label><br>
        <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag"
                {% if object.Use_Flag == False %}
                &nbsp;
                {% else %}
                checked
                {% endif %}
        ><br> <br>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        {{ form.Students }}
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.username }}"
                class="select form-control">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <input type="hidden" name="Center_Code" id="id_Center_Code" value="{{ request.user.Center_Code.id }}"
                class="select form-control">
    </div>
    <div class="submitButton col-md-12">
        <button class="btn btn-success" type="submit">Submit</button>
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal" id="close-btn">Close</button>
    </div>
</form>

<script>
    $("#ajaxgroupform").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        $.ajax({
            url: "{% url 'group_create_ajax' %}",  // URL to your view that serves new info
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            success: function(response) {
                var id_GroupMapping_Name =$('#id_GroupMapping_Name').val();
                $(".close-btn").click();
                $('#id_Groups').append(`
                    <option value="`+response.pk+`" selected>`+id_GroupMapping_Name+`</option>
                `);
            },
            error: function(){
                console.log('Error in posting group create form')
            }
        });
    });
</script>