{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}

{% block left %}
{% block before_main_left %}{% endblock %}
<div class="panel panel-default">
    <div class="panel-body panel-subtitle">
        <span class="label label-success">{{ panel_title }}</span>
        {% if show_order %}
        <span class="pull-right ordering">
            Order:
            <span>
                <a href="{% change_thread_ordering request '-last_replied' %}">Last Replied</a>
            </span>
            <span>
                <a href="{% change_thread_ordering request '-pub_date' %}">thread Date</a>
            </span>
        </span>
        {% endif %}
    </div>
    <!-- List group -->
    <ul class="list-group thread-list">
        {% for thread in threads %}
        <li class="list-group-item thread-entry">
            <div class="entry media">
                <div class="media-left media-middle">
                    <a class="list-avatar-link" href="{% url 'forum:user_info' thread.user.pk %}"><img
                            class="user-avatar" src="{% avatar_url thread.user %}"></a>
                </div>
                <div class="media-body media-middle">
                    <a href="{% url 'forum:thread' pk=thread.pk %}" class="entry-link">
                        {{ thread.title }}
                    </a>
                    <p class="entry-meta">
                        {% if thread.order <= 3 %}
                        <span class="meta">
                            <span class="label label-info meta-top">
                                TOP
                            </span>
                        </span>
                        {% endif %}
                        <span class="meta">
                            <a href="{% url 'forum:topic' thread.topic.pk %}">
                                <span class="label label-default meta-topic">
                                    {{ thread.topic.title }}
                                </span>
                            </a>
                        </span>
                        <span class="meta meta-username">
                            <a href="{% url 'forum:user_info' thread.user.pk %}">
                                {{ thread.user.username }}
                            </a>
                        </span>
                        <span class="meta meta-pub_date">
                            {{ thread.pub_date | naturaltime }}
                        </span>
                        <span class="meta meta-last_replied hidden-xs">
                            {% trans "Last Replied" %}: {{ thread.last_replied | naturaltime }}
                        </span>
                    </p>
                </div>
                <div class="media-right media-middle">
                    <span class="badge">{{ thread.reply_count }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="panel-footer">
        {% get_pagination %}
    </div>
</div>
{% endblock %}