{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}


{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li>
    <a href="{% url 'forum:nodegroup' pk=topic.node_group.pk %}">{{ topic.node_group.title }}</a>
</li>
<li class="active"><a href="{% url 'forum:topic' pk=topic.pk %}">{{ topic.title }}</a></li>

{% endblock %}

{% block main_contain %}
<div class="panel panel-default paper-shadow">
    <div class="panel panel-heading ">

        <h2 class="topic_header">
            <div class="icon-block half img-circle bg-grey-300">
                <i class="fa fa-{{ topic.topic_icon }}"></i>
            </div> {{ panel_title }}
        </h2>
        <div class="topic_des">
            <small> {{ topic.description }} </small>
        </div>

        <span class="pull-right new_thread">
            <a class="btn btn-white btn-flat" href="{% url 'forum:create_thread' topic.node_group.pk topic.pk %}"><i
                    class="fa fa-fw fa-plus"></i>
                Ask New Question</a>

        </span>

    </div>




    <!-- List group -->
    <ul class="list-group thread-list">
        {% for thread in threads %}
        <li class="list-group-item thread-entry">
            <div class="entry media">

                <a href="{% url 'forum:user_info' pk=thread.user.pk %}">
                    <img src="/media/{{ thread.user.Member_Avatar }}" alt=""
                        class="avatar avatar-96wp-user-avatar wp-user-avatar-96 alignnone photo avatar-default ">
                </a>
                <h2 class="thread_title">
                    <div class="media-body media-middle"> &nbsp;
                        <a href="{% url 'forum:thread' pk=thread.pk %}" class="entry-link">
                            {{ thread.title }}
                        </a>

                        <p class="entry-meta">
                            {% if thread.order <= 3 %}
                            <span class="meta">
                                <span class="label label-info meta-top">
                                    TOP
                                </span>
                            </span>
                            {% endif %}

                            <div class="topic_list text-light text-caption" id="">


                                <h5>

                                    <span class="meta">
                                        SubCategory:
                                        <a href="{% url 'forum:topic' thread.topic.pk %}">
                                            <span class="topic-meta link-text">
                                                {{ thread.topic.title }}
                                            </span> |
                                        </a>
                                    </span>
                                    <span class="meta meta-username">
                                        posted by<a href="{% url 'forum:user_info' thread.user.pk %}">
                                            <span class="topic-meta link-text"> {{ thread.user.username }} </span>
                                        </a>
                                    </span>

                                    <span class="meta meta-last_replied hidden-xs">|
                                        {% trans "Last Replied" %}: {{ thread.last_replied | naturaltime }}
                                    </span>
                                    <br>

                                    <br>
                                </h5>
                            </div>
                            <h6>
                                <div class="right_content">
                                    <span class=" btn btn-white text-light">
                                        {{ thread.pub_date | date:"d, M" }}</span>
                                    <br>
                                    <span class="btn btn-white">
                                        <i class="fa fa-eye"></i> {{ thread.view_count }}
                                    </span>
                                </div>
                            </h6>
                        </p>

                        <div class="media-right media-middle">
                            <span class="btn btn-primary btn-xs">{{ thread.reply_count }} Reply</span>
                        </div>


                    </div>
        </li>
        {% endfor %}
    </ul>



    <div class=" text-center">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="panel-footer">
        {% get_pagination %}
    </div>
</div>

{% endblock %}