{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}


{% block breadcrumb %}
    <ol class="breadcrumb navClass">
        <li><a href="{% url 'forum:index' %}">Home</a></li>
        <li class="active">{{ node_group }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% block before_main_left %}{% endblock %}
    <div class="panel panel-default">
        <div class="panel-body panel-subtitle">
            <span class="label label-success">{{ panel_title }}</span>
            <p>
                {{ node_group.description }}<br>
                Total number of topics: {{ node_group.topic_count }}
            </p>
        </div>
        <!-- List group -->
        <ul class="list-group thread-list">
 <!-- latest_thread_for_topics consists of list of list of [topic, corresponding_latest_thread] -->
            {% for list in latest_thread_for_topics %}
                <li class="list-group-item thread-entry">
                    <div class="entry media">

                        <div class="media-body media-middle">
                            <div class="icon-block half img-circle bg-grey-300">
                                <i class="fa fa-{{ list.0.topic_icon }}"></i>
                            </div>
                            <a href="{% url 'forum:topic' pk=list.0.pk %}" class="entry-link">
                                {{ list.0.title }}
                            </a>
                        <br>
                        {{ list.0.description }}
                            <br>
                            Latest Thread :<a href="{% url 'forum:thread' pk=list.1.pk %}">{{ list.1.title }}</a>

{#                                <span class="meta">#}
{#                                    <a href="{% url 'forum:nodegroup' topic.node_group.pk %}">#}
{#                                        <span class="label label-default meta-topic">#}
{#                                        {{ topic.node_group.title }}#}
{#                                        </span>#}
{#                                    </a>#}
{#                                </span>#}

                        </div>
                                                <div class="media-right media-middle">
                                                    total threads:
                                                    <span class="badge">{{ list.0.thread_count }}</span>
                                                </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="panel-footer">
            {% get_pagination %}
        </div>
    </div>
{% endblock %}
