{% extends "student_module/base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'student_mycourses_list' %}">My Courses</a></li>
    <li class="breadcrumb-item"><a href="{{ object.Course_Code.student_get_absolute_url }}">{{ object.Course_Code }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Chapter_Name }}</li>
{% endblock %}
{% block content %}

    {% include 'chapter/chapterinfo_detail.html' %}

{% endblock content %}

