{% extends "student_module/base.html" %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="page_section">
            <h1>Overview</h1>
        </div>
        <div class="panel panel-default">
            <div class="media v-middle ">
                <div class="media-left">
                    <div class="bg-green text-white">
                        <div class="panel-body">
                            <i class="fa fa-credit-card fa-fw fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body media-middle">
                    Notification pannel <span class="text-body-2"></span>
                </div>
                <div class="media-right media-padding media-middle">
                    <a class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated=""
                       href="#">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="title">
                                <h3>Courses </h3>
                                <h5>Your recent courses</h5>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item ">
                                    <div class="media-body">
                                        <a href="app-take-course.html" class="text-subhead list-group-link">Basics of
                                            HTML</a>
                                    </div>
                                    <div class="media-right">
                                        <div class="progress progress-mini width-100 margin-none">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                                 style="width:45%;">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item ">
                                    <div class="media-body">
                                        <a href="app-take-course.html" class="text-subhead list-group-link">Angular in
                                            Steps</a>
                                    </div>
                                    <div class="media-right">
                                        <div class="progress progress-mini width-100 margin-none">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                 style="width:75%;">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media-body">
                                        <a href="app-take-course.html" class="text-subhead list-group-link">Bootstrap
                                            Foundations</a>
                                    </div>
                                    <div class="media-right">
                                        <div class="progress progress-mini width-100 margin-none">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                 style="width:25%;">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class=" col-xs-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="row title">
                                <div class="col-md-12">
                                    <h3>Quizzes </h3>
                                    <h5>Your recent performance</h5>
                                </div>
                            </div>
                            <ul class="list-group ">
                                <li class="list-group-item ">
                                    <div class="media-body">
                                        <h4 class="text-subhead margin-none">
                                            <a href="app-take-quiz.html" class="list-group-link">Title of quiz goes
                                                here?</a>
                                        </h4>
                                        <div class="">
                                            <span class="text-light">Course:</span>
                                            <a href="#" style="color:#42a5f5">Basics of HTML</a>
                                        </div>
                                    </div>
                                    <div class="media-right media-middle text-center">
                                        <div class="text-display-1">5.8</div>
                                        <span class="text-light">Good</span>
                                    </div>
                                </li>
                                <li class="list-group-item ">
                                    <div class="media-body">
                                        <h4 class="text-subhead margin-none">
                                            <a href="app-take-quiz.html" class="list-group-link">Title of quiz goes
                                                here?</a>
                                        </h4>
                                        <div class="">
                                            <span class="text-light">Course:</span>
                                            <a href="#" style="color:#42a5f5">Basics of HTML</a>
                                        </div>
                                    </div>
                                    <div class="media-right media-middle text-center">
                                        <div class="text-display-1">5.8</div>
                                        <span class="text-light">Good</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media-body">
                                        <h4 class="text-subhead margin-none">
                                            <a href="app-take-quiz.html" class="list-group-link">Title of quiz goes
                                                here?</a>
                                        </h4>
                                        <div class="">
                                            <span class="text-light">Course:</span>
                                            <a href="#" style="color:#42a5f5">Basics of HTML</a>
                                        </div>
                                    </div>
                                    <div class="media-right media-middle text-center">
                                        <div class="text-display-1">5.8</div>
                                        <span class="text-light">Good</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="row title">
                                <div class="col-md-12">
                                    <h3>FORUM </h3>
                                    <h5></h5>
                                </div>
                            </div>
                            <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated="">
                                <li class="list-group-item paper-shadow">
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/images/user.png" alt="person"
                                                     class="img-circle width-40">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="app-forum-thread.html" class="text-subhead link-text-color">Can
                                                someone help me with AngularJS?</a>
                                            <div class="text-light">
                                                Topic: <a href="app-forum-category.html">AngularJS</a> &nbsp; By: <a
                                                    href="#">Adrian Demian</a>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <div class="width-60 text-right">
                                                <span class="text-caption text-light">1 hr ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item paper-shadow">
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/images/user.png" alt="person"
                                                     class="img-circle width-40">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="app-forum-thread.html" class="text-subhead link-text-color">Can
                                                someone help me with AngularJS?</a>
                                            <div class="text-light">
                                                Topic: <a href="app-forum-category.html">AngularJS</a> &nbsp; By: <a
                                                    href="#">Adrian Demian</a>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <div class="width-60 text-right">
                                                <span class="text-caption text-light">2 hrs ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item paper-shadow">
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/images/user.png" alt="person"
                                                     class="img-circle width-40">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="app-forum-thread.html" class="text-subhead link-text-color">Can
                                                someone help me with AngularJS?</a>
                                            <div class="text-light">
                                                Topic: <a href="app-forum-category.html">AngularJS</a> &nbsp; By: <a
                                                    href="#">Adrian Demian</a>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <div class="width-60 text-right">
                                                <span class="text-caption text-light">3 hr ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item paper-shadow">
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/images/user.png" alt="person"
                                                     class="img-circle width-40">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="app-forum-thread.html" class="text-subhead link-text-color">Can
                                                someone help me with AngularJS?</a>
                                            <div class="text-light">
                                                Topic: <a href="app-forum-category.html">AngularJS</a> &nbsp; By: <a
                                                    href="#">Adrian Demian</a>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <div class="width-60 text-right">
                                                <span class="text-caption text-light">4 hr ago</span>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="row title">
                                <div class="col-md-12">
                                    <h3>Rewards</h3>
                                    <h5>Your latest achievements</h5>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 ">
                        <div class="panel panel-default">
                            <div class="row title">
                                <div class="col-md-12">
                                    <h3>Certificates</h3>
                                    <h5></h5>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
{% endblock %} 