{% extends "student_module/base.html" %}
{% block title %}
    MyCourses
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page_section"><h1>My Courses</h1></div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class=" dashboard_graph boxShadow">
                        <div>
                            <a href="{% url 'course_detail' %}">
                                <div class="courseimagediv">
                                    <img src="https://picsum.photos/id/5/500/300?image=7" class="img-responsive courseimage">
                                    <div class="middle">
                                        <div class="coursetext">Join</div>
                                    </div>
                                </div>

                            </a>
                            <div class="courseextend" style="padding-left: 20px;padding-right:10px;"
                                data-toggle="collapse" data-target="#description2">
                                <h2>Intermediate Reactjs</h2>
                                <div class="courseDetailStyle">
                                    <div class="">
                                        <p class="" style="color: #f9a825">
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star-o "></span>
                                            <span class="fa fa-fw fa-star-o "></span>
                                        </p>
                                    </div>
                                    <div>
                                        6 hours
                                    </div>
                                </div>
                                 <div class="courseDetailStyle">
                                    <div class="progress" style="height:6px;width: 60%;margin-top: 20px">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70"
                                             aria-valuemax="100" aria-valuemin="0" style="width:20%">
                                        </div>
                                    </div>
                                    <div style="padding-left: 10px">14%</div>
                                </div>
                            </div>
                            <div class="collapse" id="description2" style="padding-left: 20px;padding-right: 20px;
                                    border-top: 1px solid lightgrey">
                                <h5 class="card-text text-justify">Some quick example
                                    text to build on the card title and make up the
                                    bulk of the card's content.
                                </h5>
                                <div>
                                    <div style="display: flex;flex-direction: row;padding-left: 20px">
                                        <img src="/static/images/suted.jpg" class="profile_img img-responsive"
                                             style="height: 50px;width: 50px;">
                                        <div style="padding-left: 10px;font-size: 15px;">
                                            <ul class="list-unstyled">
                                                <li>
                                                    Instructor
                                                </li>
                                                <li style="font-weight: bold;color: black;">
                                                    Shyam Paudel
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class=" dashboard_graph boxShadow">
                        <div class="" style="">
                            <a href="{% url 'course_detail' %}">
                                <div class="courseimagediv">
                                    <img src="https://picsum.photos/id/5/500/300" class=" img-responsive courseimage">
                                    <div class="middle">
                                        <div class="coursetext">Join</div>
                                    </div>
                                </div>
                            </a>
                            <div class="courseextend" style="padding-left: 20px;padding-right:10px;"
                                data-toggle="collapse" data-target="#description3">
                                <h2>Computer Vision</h2>
                                <div class="courseDetailStyle">
                                    <div class="">
                                        <p class="" style="color: #f9a825">
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star "></span>
                                            <span class="fa fa-fw fa-star-o "></span>
                                            <span class="fa fa-fw fa-star-o "></span>
                                        </p>
                                    </div>
                                    <div>
                                        6 hours
                                    </div>
                                </div>
                                 <div class="courseDetailStyle">
                                    <div class="progress" style="height:6px;width: 60%;margin-top: 20px">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70"
                                             aria-valuemax="100" aria-valuemin="0" style="width:20%">
                                        </div>
                                    </div>
                                    <div style="padding-left: 10px">14%</div>
                                </div>
                            </div>
                            <div class="collapse" id="description3" style="padding-left: 20px;padding-right: 20px;
                                    border-top: 1px solid lightgrey">
                                <h5 class="card-text text-justify">Some quick example
                                    text to build on the card title and make up the
                                    bulk of the card's content.
                                </h5>
                                <div>
                                    <div style="display: flex;flex-direction: row;padding-left: 20px">
                                        <img src="/static/images/suted.jpg" class="profile_img img-responsive"
                                             style="height: 50px;width: 50px;">
                                        <div style="padding-left: 10px;font-size: 15px;">
                                            <ul class="list-unstyled">
                                                <li>
                                                    Instructor
                                                </li>
                                                <li style="font-weight: bold;color: black;">
                                                    Shyam Paudel
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>


        </div>
        <ul class="pagination">
            <li class="disabled"><a href="#"><<</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">>></a></li>
        </ul>
    </div>
{% endblock %}