{% extends "student_module/base.html"%}
{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}

{% block content %}
<div class="clearfix"></div>


<div class="container" id="mainSurveyPage">

    <div class="row" id="surveyheader">
        <div class="searchBarSurvey col-sm-5">
            <input type="search" placeholder="Survey...">
            <div class="pollButtons">
                <button type="button" class="btn btn-info">Search</button>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="btn-group" id="status" data-toggle="buttons">
                <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                    <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Active</label>
                <label class="btn btn-default btn-off-3 btn-sm " id="ExpireButton">
                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">History</label>
            </div>
        </div>
    </div>
    <!-- polls_student -->
    <div class="hR"></div>
    <div class="col-md-12 col-lg-9">
        <div class="row" id="rowCards">
            <!-- ......................................Active section.................................................... -->
            <div class="active_survey">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>1. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>

                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>4. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">Participate</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ......................................Expire section.................................................... -->
            <div class="expire_survey" style="display: none;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>1. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>4. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="questionLists ">
                        <div class="card">
                            <div class="card-body" style="width: 25rem;">
                                <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                                <hr>
                                <ul class="card_labels">
                                    <li><label>Questions:</label></li>
                                    <li><label>Start date:</label></li>
                                    <li><label>End date:</label></li>
                                </ul>
                                <h5 class="card-text text-justify">
                                    <a href=" {% url 'polls_student' %}">
                                        <div class="pollButtons">
                                            <button type="button" class="btn btn-info">View</button>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-12 col-lg-3">
        <div class="categoryContainer">
            <div class="card" style="width: 22rem; height: 35rem;">
                <div class="card-body">
                    <h2 class="card-title "><strong>Category</strong></h2>
                    <hr>
                    <div id="card_category">
                        <h5 class="card-text active">
                            <a href="#"><i class="fa fa-bar-chart" id="categoryIcons"></i>All survey</a>
                        </h5>
                        <h5 class="card-text">
                            <a href="#"><i class="fa fa-home" id="categoryIcons"></i>General</a>
                        </h5>
                        <h5 class="card-text ">
                            <a href="#"><i class="fa fa-group" id="categoryIcons"></i>Session</a>
                        </h5>
                        <h5 class="card-text">
                            <a href="#"><i class="fa fa-book" id="categoryIcons"></i>Course</a>
                        </h5>
                        <h5 class="card-text">
                            <a href="#"><i class="fa fa-laptop" id="categoryIcons"></i>System</a>
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="popup" data-popup="popup-1">
        <div class="popup-inner ">
            <article class="index-form">
                <form id="popupForm">
                    <div class="label_inputs">

                        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <br>
                                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left"
                                            novalidate="">
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Title
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12">Start
                                                    date<span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input id="start-date" class="date-picker form-control col-md-7 col-xs-12"
                                                        required="required" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12">End date<span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input id="end-date" class="date-picker form-control col-md-7 col-xs-12"
                                                        required="required" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group" id="chooseSession" style="display: none;">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Choose
                                                    Session
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <select id="inputState" class="form-control col-md-7 col-xs-12">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="chooseCourse" style="display: none;">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Choose
                                                    Course
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <select id="inputState" class="form-control col-md-7 col-xs-12">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary control-label col-md-12 col-sm-3 col-xs-12"
                                                id="nextButton">Next</button>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="selectQuestionType" style="display: none;">
                                                        <div class="btn-group" id="switchButtons" data-toggle="buttons">
                                                            <label class="mcq_question btn btn-default btn-on btn-md active">
                                                                <input type="radio" value="1" name="multifeatured_module[module_id][switchButtons]"
                                                                    checked="checked">MCQ</label>
                                                            <label class="short_question btn btn-default btn-off btn-md ">
                                                                <input type="radio" value="0" name="multifeatured_module[module_id][switchButtons]">SAQ</label>
                                                        </div>

                                                        <div class="questionContainer">
                                                            <div id="mcq_que">
                                                                <div class="questionSection ">
                                                                    <label for="questions">Questions:</label>
                                                                    <button class="btn btn-success" id="newQuestion">+
                                                                        Questions</button>
                                                                </div>

                                                                <div class="optionContainer">
                                                                    <ul id="mySelect" style="list-style: none;">
                                                                    </ul>
                                                                </div>

                                                                <div class="row">
                                                                    <a href="">
                                                                        <div class="btn btn-info col-md-12 col-sm-12 ">Save</div>
                                                                    </a>
                                                                    <a href="">
                                                                        <div class="btn btn-primary col-md-12 col-sm-12 ">Save
                                                                            As New</div>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div id="short_que" style="display: none;">
                                                                <div class="queContainer">
                                                                    <div class="form-group ">
                                                                        <label for="questions">Questions:</label>
                                                                        <button class="btn btn-success"><a href="" id="addButtons">+
                                                                                Questions</a></button>
                                                                    </div>
                                                                    <div class="short_que_Container">
                                                                        <ul id="short_que_add" style="list-style: none;">
                                                                        </ul>
                                                                    </div>
                                                                    <div class="row">
                                                                        <a href="">
                                                                            <div class="btn btn-info col-md-12 col-sm-12 ">Save</div>
                                                                        </a>
                                                                        <a href="">
                                                                            <div class="btn btn-primary col-md-12 col-sm-12 ">Save
                                                                                As New</div>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>


    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    var header = document.getElementById("card_category");
    var btns = header.getElementsByClassName("card-text");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>
{% endblock %}