{% extends "student_module/base.html" %}
{% block title %}
    Quiz
{% endblock %}

{% block content %}

    <div class="right_col" role="main">
        <div class="page_section"><h1>Questions</h1></div>
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <span>1. </span>
                    HTML is a programming language.
                </div>
                <hr>
                <div class="panel-body">
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 3</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 4</label>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <span>2. </span>
                    Java is a complete programming language. In contrast, JavaScript is a
                    coded program that can be introduced to HTML pages. These two languages are not at all
                    inter-dependent and are designed for the different intent. Java is an object - oriented
                    programming (OOPS) or structured programming language like C++ or C whereas JavaScript
                    is a client-side scripting language..
                </div>
                <hr>
                <div class="panel-body">
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 3</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="opt">Opton 4</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}