{% extends "student_module/base.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}

    <div class="right_col" role="main">
        <div class="page_section"><h1>Quizz</h1></div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-default paper-shadow">
                    <div class="panel-body">
                        <h3>Compiler Design</h3>
                        <a class="btn btn-info media-bottom" href="{% url 'quiz_questions' %}">Attempt Quiz</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-default paper-shadow">
                    <div class="panel-body">
                        <h3>Basics of HTML</h3>
                        <a class="btn btn-info media-bottom" href="{% url 'quiz_questions' %}">Attempt Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-default paper-shadow">
                    <div class="panel-body">
                        <h3>Human Computer Interaction</h3>
                        <a class="btn btn-info media-bottom" href="{% url 'quiz_questions' %}">Attempt Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-default paper-shadow">
                    <div class="panel-body">
                        <h3>Principles of Programming</h3>
                        <a class="btn btn-info media-bottom" href="{% url 'quiz_questions' %}">Attempt Quiz</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}