{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/floating-labels.css' %}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Poppins"
            rel="stylesheet"
    />


</head>
<body>

<div class="col-lg-6 col-md-6 col-xs-12">

    <img

            id="regImg"
            src="/static/images/logo_orange.png"
            alt=""
            width="45%"

    />
    <h1 id="regHeader" align="center" style="color: gray">
        <hr/>
        u-LMS 2019

    </h1>
</div>
<div class="col-lg-6 col-md-6 col-xs-12">
    <form class="form-reg" method="POST" action="">
        {% csrf_token %}
        <div class="form-label-group">
            {{ form|crispy }}
        </div>
        <!-- <h4 align="center" style="color:green">
            <hr style="border-top: 3px double #8c8b8b;">
            Create Account
            <hr style="border-top: 3px double #8c8b8b;">
        </h4>
        <div class="form-label-group">
            <input
                    name="username"
                    type="text"
                    id="full-name"
                    class="form-control"
                    placeholder="Your Name"
                    required=""
                    autofocus=""
            />
            <label for="full-name">Full Name</label>
        </div>

        <div class="form-label-group">
            <select name="Member_Gender" id="" class="form-control" required="">
                <option disabled="" selected="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-label-group">
            <select name="" id="" class="form-control">
                <option value="" disabled="" selected="">Member</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
        </div>
        <div class="form-label-group">
            <select name="Center_Code" id="id_Center_Code" value="{{ object.Center_Code }}"
                    class="select form-control">
                <option value="" selected="">Select Center</option>
                {% for c in center_list %}
                    <option value="{{ c.id }}">{{ c.Center_Name|capfirst }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-label-group">
            <input
                    name="email"
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Your Email"
                    required=""
            />
            <label for="inputEmail">Email</label>
        </div>

        <div class="form-label-group">
            <input
                    name="password"
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required=""
            />
            <label for="inputPassword">Password</label>
        </div>

        <div class="form-label-group">
            <input
                    name="password"
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required=""
            />
            <label for="inputPassword">Repeat Password</label>
        </div>
        <div id="CreateAcc">

            Already a Member?
            <a href="/login">&nbsp;Log In </a>
        </div> -->


        <button class="btn btn-lg btn-success btn-block" type="submit">
            Register
        </button>
    </form>
</div>

</body>
</html>
