{% load static %}
<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <span class="centerNameTopNav">
            {% if user.Center_Code %}
                Center : <b>{{ user.Center_Code }}</b>
            {% endif %}
        </span>
        <ul class="nav navbar-nav navbar-right">

            {% if request.user.is_authenticated %}

                <li class="">
                    <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">

                        <img src="
                                    {% if request.user.Member_Avatar %}
                                        /media/{{ request.user.Member_Avatar }}
                                    {% elif request.user.Member_Gender == '1' %}
                                        {% static 'images/profile/male.jpg' %}
                                    {% elif request.user.Member_Gender == '2' %}
                                        {% static 'images/profile/female.png' %}
                                    {% else %}
                                        {% static 'images/profile/profile.png' %}
                                    {% endif %}" alt="">
                        {{ request.user.username }}
                        <span class=" fa fa-angle-down" id="topNavSpan"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if request.user.Is_Student %}
                            <li><a href="/students"> Login as Student</a></li>
                        {% endif %}
                        {#                        <li><a href="/teachers"> Login as Teacher</a></li>#}
                        {% if request.user.Is_CenterAdmin %}
                            <li><a href="{% url 'start' %}"> Login as Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'teacher_user_profile' %}"> Profile</a></li>

                        <li>
                            <a href="javascript:">
                                <!-- <span class="badge bg-red pull-right">50%</span> -->
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:">Help</a></li>
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

            {% else %}

                <li><a href="/login">Log In</a></li>
            {% endif %}

            <li role="presentation" class="dropdown">
                <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                        <a>
                            <span class="image"><img src="/static/images/img.jpg" alt="Profile Image"/></span>
                            <span>
                                <span>John Doe</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="/static/images/img.jpg" alt="Profile Image"/></span>
                            <span>
                                <span>John Doe</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="/static/images/img.jpg" alt="Profile Image"/></span>
                            <span>
                                <span>Joh</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="/static/images/img.jpg" alt="Profile Image"/></span>
                            <span>
                                <span>John Doe</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <div class="text-center">
                            <a>
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>
</div>