{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

    {{ form.media }}

<!--
<form method="post">
    {#{% csrf_token %}#}
    {#{{ form|crispy }}#}
    {#{{ answers_formset|crispy }}#}
<button class="btn btn-primary" type="submit">Submit</button>
</form>
-->

<!-- <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br><br>
    <p></p>
    
    {{ answers_formset.management_form }}
    {% for form in answers_formset.forms %}
        <div class='table'>
        <table class='no_error'>
                {{ form|crispy }}
        </table>
        </div>
    {% endfor %}
    <input type="button" value="Add More" id="add_more">
    

<button class="btn btn-primary" type="submit">Submit</button>
</form>  -->
<form method="post"> 
        {% csrf_token %}
        <div class="form-group"> 
                <div class="col-md-12"> 
                    <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Question</label>
                            {{form.content}}
        
                    </div>
                    <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Lecture Info</label>
                            {{form.course_code}} 
                    </div>
                        
                        
                </div>
        </div>  
        <div class="form-group"> 
                <div class="col-md-12"> 
                    <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Center Code</label>
                            {{form.cent_code}}
        
                    </div>
                    <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Answer Order</label>
                            {{form.answer_order}} 
                    </div>
                        
                        
                </div>
        </div> 
        <div class="form-group"> 
                <div class="col-md-12"> 
                    <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Figure</label>
                            {{form.figure}} 
                          
        
                    </div>
                    <!-- <div class="col-md-6">
                            <label class="quiz-add-label"  for="">Content</label>
                            {{form.content}} 
                            {{form.content.help_text}} 
                    </div> -->
                        
                        
                </div>
        </div>  
        <div class="form-group"> 
            <div class="col-md-12">
                    <label class="quiz-add-label"  for="">Quiz</label>
            </div>
                <div class="col-md-12 controls"> 
                       
                        {{form.quiz}}
                </div>
        </div> 
        <div class="form-group">
            <div class="col-md-12">
                    {{ answers_formset.management_form }}
                    {% for form in answers_formset.forms %}
                        <div class='table'>
                        <table class='no_error'>
                                {{ form|crispy }}
                        </table>
                        </div>
                    {% endfor %}
                    <input class="add-mcq" type="button" value="Add More" id="add_more"> 
                    <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>       
</form>

{% endblock %}
{% block customjss %}
    <script>
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked value');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }

        $('#add_more').click(function() {
            cloneMore('div.table:last', 'answer_set');
        });

    </script>
{% endblock customjss %}