{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}


<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<script>
    function validateForm() {
    var mq = document.forms["quiz_create_form"]["mcquestion"].value;
    var tq = document.forms["quiz_create_form"]["tfquestion"].value;
    var eq = document.forms["quiz_create_form"]["saquestion"].value;
        if (!(mq || tq || eq)) {
            document.getElementById('qn_err_box').style.display = "block";
            $('html,body').animate({
                scrollTop: $("#qn_err_box").offset().top},
                'slow');
            return false;
        }
    }
</script>


<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />


    {{ form.media }}

<form action="{% url 'quiz_create' %}" method="post">
    {% csrf_token %} 
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                            </a>
                        </li>     
                    </ul>
                    <div class="quiz-questions"> 
                        <div id="step-1">
                            <div class="privew1" id="form1_ajax">

                            </div>
                        </div>
                        <div id="step-2">
                            <div class="privew1" id="form2_ajax">

                            </div>
                        </div>
                        <div id="step-3">
                            <div class="privew1" id="form3_ajax">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="mcquestion_form_popup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create MCQ</h4>
                </div>
                <div class="modal-body" id="mcquestion_form_ajax">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="tfquestion_form_popup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create TFQ</h4>
                </div>
                <div class="modal-body" id="tfquestion_form_ajax">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="saquestion_form_popup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create TFQ</h4>
                </div>
                <div class="modal-body" id="saquestion_form_ajax">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block customjss %} 
    <script src=" {% static '/vendorsx/nprogress/nprogress.js' %}"></script>
    <script src=" {% static '/vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <script>
       $(document).ready(function(){
            $("#id_cent_code").val('{{request.user.Center_Code.id}}');
            $.ajax({
                type: "GET",
                url: "{% url 'quizfw' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#form1_ajax").html(data);
                }
            });
        });

        $('#mcq_create_button').on('click', function () {
            $.ajax({
                type: "GET",
                url: "{% url 'mcquestion_create' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#mcquestion_form_ajax").html(data);
                }
            });
        });

        $('#tfq_create_button').on('click', function () {
            $.ajax({
                type: "GET",
                url: "{% url 'tfquestion_create' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#tfquestion_form_ajax").html(data);
                }
            });
        });

        $('#saq_create_button').on('click', function () {
            $.ajax({
                type: "GET",
                url: "{% url 'saquestion_create' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#saquestion_form_ajax").html(data);
                }
            });
        });
   
        // categoryAddButton({{ categoryName }});
    </script>

{% endblock customjss %}
