{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}

<!-- <h2>{{ quiz.title }}</h2>
<h3>"Category": {{ quiz.category }}</h3>
{% if quiz.single_attempt %}
  <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
{% endif %}
<p>{{ quiz.description }}</p>
<p>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
	{% trans "Start quiz" %}
  </a>
</p> -->



<div class="">
  <div class="container">
       <div class="row text-center">
           
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             
                  <div class="box-part text-center">
                      
                      <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                      
                      <div class="title">
                          <h3>{{ quiz.title }}</h3>
                      </div>
                      
                      <div class="text">
                          <span><h3>"Category": {{ quiz.category }}</h3>
                          {% if quiz.single_attempt %}
                            <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
                          {% endif %}
                          <p>{{ quiz.description }}</p>
                          </span>
                      </div>
                      
                      <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
                        {% trans "Start quiz" %}
                        </a>
                      
                   </div>
              </div>	 
             
              
      
      </div>		
  </div>
</div>  

 <table class="table table-bordered table-striped">
  <thead>
    <tr class="quiz-capital">
      <th>{% trans "Title" %}</th>
      <th>{% trans "Course -> Chapter" %}</th>
      <th>{% trans "No. of Questions" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "Url" %}</th>
      <th>{% trans "Status" %}</th> 
      <th>{% trans "Action" %}</th>
    </tr>
    </thead> 

    <tbody>
       <tr>
          <td>Quiz Name</td>
          <td>{{ quiz.title }} </td>
         
       </tr>
    </tbody>
 </table>
              <div class="quiz-question-list">
                    <p class="exam-results text-center">MCQUESTIONS</p>
                    <ul> 
                        {% for quest in quiz.mcquestion.all %}
                           <li class="quiz-listing">  {{quest.content}}</li> 
                        {% endfor %}
                    </ul>
              </div>
              <div class="quiz-question-list">
                  <p class="exam-results text-center">TFQUESTIONS</p>
                  <ul>
                      {% for quest in quiz.tfquestion.all %}
                      <li>{{quest.content}}</li> 
                   {% endfor %}
                  </ul>
            </div>
            <div class="quiz-question-list">
                <p class="exam-results text-center">SHORTQUESTIONS</p>
                <ul>
                    {% for quest in quiz.essayquestion.all %}
                    <li>{{quest.content}}</li> 
                 {% endfor %}
                </ul>
          </div>
  
 



{% endblock %}
