{% extends "teacher_module/base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'teacher_chapterinfo_list' %}">Chapters</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/chapterinfo/create/' == request.path %}
            Create New Chapter
        {% else %}
            Edit Chapter Info
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    {% include 'chapter/chapterinfo_form.html' %}
{% endblock content %}

