{% extends "teacher_module/base.html" %}
{% block title %}
    LectureList
{% endblock %}

{% block content %}

    <div class="right_col">
        <div class="container">
            <div>
                <form style="display:inline-flex">
                    <input class="form-control" type="search" placeholder="Search Course. . .">
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
            <hr>

            <div class="row">
                {% for object in object_list %}

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default boxShadow">
                            <div class="panel-body" style="padding: 0%;">
                                <div>
                                    <a href="{% url 'lecture_detail' pk=object.pk %}"> <img
                                            src="/media/{{ object.Lecture_Cover_File }}" class="img-responsive"></a>
                                </div>
                                <div style="padding-left: 20px;padding-right:10px;"
                                     data-toggle="collapse" data-target="#description">
                                    <h2><a href="{% url 'lecture_detail' pk=object.pk %}">{{ object.Lecture_Name }}</a>
                                    </h2>
                                    <div class="courseDetailStyle">
                                        <div class="">
                                            <p class="" style="color: #f9a825">
                                                <span class="fa fa-fw fa-star "></span>
                                                <span class="fa fa-fw fa-star "></span>
                                                <span class="fa fa-fw fa-star "></span>
                                                <span class="fa fa-fw fa-star-o "></span>
                                                <span class="fa fa-fw fa-star-o "></span>
                                            </p>
                                        </div>
                                        <div>
                                            6 hours
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#                <div class="col-lg-4 col-sm-6 col-xs-12">#}
                {#                <div class="panel panel-default boxShadow">#}
                {#                    <div class="panel-body" style="padding: 0%">#}
                {#                        <div>#}
                {#                            <img src="https://picsum.photos/id/5/500/300?image=0" class="img-responsive">#}
                {#                        </div>#}
                {#                        <div style="padding-left: 20px;">#}
                {#                            <h2>Intermediate Reactjs</h2>#}
                {#                            <div class="courseDetailStyle">#}
                {#                                <p class="" style="color: #f9a825">#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star-o "></span>#}
                {#                                    <span class="fa fa-fw fa-star-o "></span>#}
                {#                                </p>#}
                {##}
                {#                                <div style="padding-right: 20px">#}
                {#                                    6 hours#}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                        </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="col-lg-4 col-sm-6 col-xs-12">#}
                {#                <div class="panel panel-default boxShadow">#}
                {#                    <div class="panel-body" style="padding: 0%">#}
                {#                        <div>#}
                {#                            <img src="https://picsum.photos/id/5/500/300?image=5" class="img-responsive">#}
                {#                        </div>#}
                {#                        <div style="padding-left: 20px;">#}
                {#                            <h2>Computer Network</h2>#}
                {#                            <div class="courseDetailStyle">#}
                {#                                <p class="" style="color: #f9a825">#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star "></span>#}
                {#                                    <span class="fa fa-fw fa-star-o "></span>#}
                {#                                    <span class="fa fa-fw fa-star-o "></span>#}
                {#                                </p>#}
                {##}
                {#                                <div style="padding-right: 20px">#}
                {#                                    6 hours#}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="panel-footer">#}
                {#                        <a class="btn btn-info " href="{% url 'course_detail' %}">GO TO COURSE</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}


            </div>
        </div>
    </div>
{% endblock %}