{% extends "teacher_module/base.html" %}
{% load static %}

{% block title %}
    | Course Form
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'teacher_lectureinfo_list' %}">Lecture</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/create/' in request.path %}
            Create New Lecture
        {% else %}
            Edit Lecture Info
        {% endif %}
    </li>

{% endblock %}

{% block content %}
    {% include 'lecture/lectureinfo_form.html' %}
{% endblock content %}

{% block customjss %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="{% static 'vendorsx/jquery-star-rating/simple-rating.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.rating').rating();
        });
    </script>

{% endblock %}
