{% extends "teacher_module/base.html" %}
{% load static %}

{% block title %}
    | Course Form
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'teacher_courseinfo_list' %}">Course</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/create/' in request.path %}
            Create New Course
        {% else %}
            Edit Course Info
        {% endif %}
    </li>

{% endblock %}

{% block content %}
    {% include 'course/courseinfo_form.html' %}
{% endblock content %}

{% block customjss %}


    <script src="{% static 'vendorsx/jquery-star-rating/simple-rating.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.rating').rating();
            for (var i = 0; i < 5; i++) {
                var starObj = $('.rating').next().children()[i];
                if (i < rating) {
                    $(starObj).removeClass('fa-star-o');
                    $(starObj).addClass('fa-star');
                }
            }
        });

    </script>

{% endblock %}
