{% extends "teacher_module/base.html" %}
{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'question_teachers' %}">Survey</a></li>
<li class="breadcrumb-item active" aria-current="page">Polls</li>
{% endblock %}

{% block content %}

<div class="clearfix"></div>

<div class="container">
    <div class="row" id="surveyView">

        <div class="container">

            <h2 class="pollTitle">Survey Title</h2>
            <div class="horizontalBar"></div>

            <div class="viewSurveyTitle">
                <ul class="card_labels">
                    <li>
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12" id="categoryTitle1" for="first-name">Category
                                :
                                <span class="generalLabel">General</span>
                                <!-- <span class="sessionLabel" style="display:none;">Session</span>
                                <span class="courseLabel" style="display:none;">Course</span>
                                <span class="systemLabel" style="display:none;">System</span> -->
                            </label>
                        </div>
                    </li>
                    <li class="surveyViewDates">
                        <i class="fa fa-calendar"></i><label>Start date:</label>
                    </li>
                    <li class="surveyViewDates">
                        <i class="fa fa-calendar"></i><label>End date:</label>
                    </li>
                </ul>

                <button type="button" class="btn btn-info btn-lg" id="retakeSurveyBtn">Retake survey</button>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="pollsQuestions" style="box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);">
                    <div class="x_title">
                        <h2 class="title "><strong>1. What is hadoop?</strong></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <label>
                            <ul class="radioInputs">
                                <li><label class="optionIndex">A.</label>
                                    <label id="pollsOptions">one. only select one option</label></li>
                                <li><label class="optionIndex">B.</label>
                                    <label id="pollsOptions">one. only select one option</label></li>
                                <li><label class="optionIndex">C.</label>
                                    <label id="pollsOptions">one. only select one option</label></li>
                                <li><label class="optionIndex">D.</label>
                                    <label id="pollsOptions">one. only select one option</label></li>
                            </ul>
                        </label>
                    </div>

                    <div class="bs-chart-container" id="progressResult" style="width: 80%;">
                        <h4>Results:</h4>
                        <div class="surveyResults">
                            <strong>Option A</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class>50% </span>
                                </div>
                            </div>
                            <strong>Option B</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                                    <span class>5%</span>
                                </div>
                            </div>
                            <strong>Option C</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class>20% </span>
                                </div>
                            </div>
                            <strong>Option D</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                    <span class>25% </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="pollsQuestions" style="box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);">
                    <div>
                        <h2 class="title "><strong>2. What is hadoop?</strong></h2>
                        <h5> Rojan Bade on August 8 at 12:30 PM</h5>
                    </div>
                    <div style="
                                width: 100%;
                                height: 2px;
                                display: flex;
                                flex-direction: auto;
                                background-color: #f1f1f1; ">
                    </div>
                    <div class="x_content" style="margin-left: 40px;">
                        <label>Answer:</label>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officiis atque at!
                            Inventore, iure ipsum esse quam illo excepturi officiis nesciunt asperiores assumenda
                            aspernatur. Voluptates voluptatibus iure aspernatur officia adipisci.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
{% endblock %}