{% extends "base.html" %}
{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}

<article class="index-form" id="modal">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form>
                    <div class="row">
                        <div class="label_inputs">
                            <div class="form-group ">
                                <label for="inputState">Choose Session</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="inputState">Choose Course</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="title">Title</label>
                                <input class="form-control" type="text" name="title">
                            </div>
                            <div class="btn-group" id="switchButtons" data-toggle="buttons">
                                <label class="btn btn-default btn-on btn-md active">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][switchButtons]"
                                        checked="checked">MCQ</label>
                                <label class="btn btn-default btn-off btn-md ">
                                    <input type="radio" value="0" name="multifeatured_module[module_id][switchButtons]">SAQ</label>
                            </div>

                        </div>

                        <div class="questionContainer">

                            <div class="queContainer">
                                <div class="form-group ">
                                    <label for="questions">Questions:</label>
                                    <input class="form-control" type="text" name="questions">
                                </div>
                                <button class="btn btn-success"><a href="" id="addButtons">+ Que</a></button>
                            </div>
                            <div class="optionContainer">
                                <div id="option_Button">
                                    <div class="form-group ">
                                        <label for="option">Option:</label>
                                        <button class="btn btn-success"><a href="" id="addButtons">+</a></button>
                                    </div>
                                </div>

                                <ul style="list-style: none;">
                                    <li><input type="radio" name="gender" value="Versatile"> Option-1<br></li>
                                    <li><input type="radio" name="gender" value="Available"> Option-2<br></li>
                                    <li><input type="radio" name="gender" value="Reusable"> Option-3<br></li>
                                </ul>
                            </div>
                            <a href="">
                                <div class="btn btn-info">Save</div>
                            </a>
                            <a href="">
                                <div class="btn btn-warning">Save As New</div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</article>


{% endblock %}