{% load static %}

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" id="create_chapter_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Create Chapter
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body" id="create_chapter_modal_body">
            </div>
        </div>
    </div>
</div>

<div class="outerdiv">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h2 class="detailListHeader">Course Information</h2>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <hr class="header_hr" style="margin-bottom: 5px;margin-top: 5px;">
        <div class="col-md-6 col-xs-12">
            <h3 align="center"><b>{{ object.Lecture_Name }}</b></h3>
            <br>

            <img class="card-img-top" src="
                            {% if object.Lecture_Cover_File %}
                                /media/{{ object.Lecture_Cover_File }}
                            {% else %}
                                {% static 'images/course.jpg' %}
                            {% endif %}" alt="Card image cap" style="
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 50%;
                            max-height: 400px">

            <div class="courseDetailStyle1 row" style="margin-top: 10px">


                <div class="col-lg-3" style="font-size: 15px;">
                    <h5 align="center"><i class="fa fa-comment-o"></i>
                        <a href="">FORUM</a>
                    </h5>
                </div>
                {% if '/students' not in request.path %}
                    <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <a href="{% if '/teachers' in request.path %}
                /teachers{{ object.get_update_url }}
                        {% else %}
                            {{ object.get_update_url }}
                        {% endif %}">Edit Course</a>
                    </div>
                {% endif %}
            </div>
            <table class="table">

                <tr>
                    <td style="vertical-align: middle;">Difficulty</td>
                    <td>

                        <span id="rating"></span>


                    </td>
                </tr>
                <tr>
                    <td>Course Provider</td>
                    <td>{{ object.Lecture_Provider }}</td>
                </tr>
                <tr>
                    <td>Registered By</td>
                    <td>{{ object.Register_Agent }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {#                        {{ object.Use_Flag }}#}
                        {% if object.Use_Flag == True %}
                            Active
                        {% elif object.Use_Flag == False %}
                            Deactivated
                        {% endif %}
                    </td>
                </tr>
            </table>

            <h4 align="center"><b>Course Description</b></h4>
            <span style="margin-left: 10px"> {{ object.Lecture_Description }} </span>
            <hr>

            <div class="quiz-counter" style="margin-left: 10px">

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="quiz-counter">Number of Survey</p>
                </div>
                <div class=" counter col-md-6 col-sm-6 col-xs-6  text-center">
                    <h4>{{ surveycount }}</h4>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="quiz-counter">Number of Quiz</p>
                </div>
                <div class=" counter col-md-6 col-sm-6 col-xs-6 text-center">
                    <h4>{{ quizcount }}</h4>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 xol-xs-12">
            <div class="col-md-12 col-sm-12 xol-xs-12">
                <div class="col-md-8 col-sm-12 col-xs-12 text-center">
                    <h2 class="subHeader">Chapters</h2>


                </div>
                {#                {% if '/students' not in request.path %}#}
                {#                    <div class="col-md-4 col-sm-12 col-xs-12 text-center" id="buttons">#}
                {#                        <a class="btn-sm btn-success" href="{% if '/teachers' in request.path %}#}
                {#                                                            {% url 'teacher_chapterinfo_create' %}#}
                {#                                                        {% else %}#}
                {#                                                            {% url 'chapterinfo_create' course=object.pk %}#}
                {#                                                        {% endif %}">Create new Chapter</a>#}
                {#                    </div>#}
                {#                {% endif %}#}
                {% if '/students' not in request.path %}
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center" style="margin-top: 10px">
                        <button type="button" class="btn-sm btn-success" data-toggle="modal"
                                data-target="#exampleModal1" id="add-newchapter-btn">
                            Create New Chapter
                        </button>
                    </div>
                {% endif %}
                <div class="col-md-12 col-sm-12 xol-xs-12">
                    {#                <hr class="header_hr" style="margin-bottom: 5px;margin-top: 5px;">#}
                    {% for o in chapters %}
                        <div class="col-md-12 col-sm-12 col-xs-12 leftborder" style=" margin: 5px;">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <h5 style="padding-top: 3px; color: #000000"> Chapter No: {{ o.Chapter_No }}</h5>
                                <h3>
                                    <b style="color: #000000">{{ o.Chapter_Name }}</b>
                                </h3>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="{% if '/students' in request.path %}
                                {{ o.student_get_absolute_url }}
                            {% else %}
                               {{ o.get_absolute_url }}
                            {% endif %}">
                                    <button type="button" style="float: right;width:150px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">View Chapter &nbsp;<i
                                            class="fa fa-arrow-right"></i>
                                    </button>
                                </a>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; ">
                                <hr style="margin-top: 5px; margin-bottom: 10px;">
                                <p>{{ o.Summary }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block customjss %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
    <script>
        {#        {% if object.Lecture_Level %}#}
        {#            var rating = parseInt({{ object.Lecture_Level }});#}
        {#        {% else %}#}
        {#            var rating = 0;#}
        {#        {% endif %}#}
        if (parseInt('{{object.Lecture_Level}}'))
            for (j = 0; j < parseInt('{{object.Lecture_Level}}'); j++) {
                $('#rating').append("&nbsp;<i class='fa fa-star' style='color:#f5ba00'></i>");
            }
        else
            $('#rating').append("Rating not defined");

    </script>
    <script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });

        $('#add-newchapter-btn').on('click', function () {
            $('#create_chapter_modal_body').empty();
            $('#create_chapter_modal_body').append(
                `<input type="hidden" name="Lecture_Code" id="id_Lecture_Code" value="{{ object.pk }}"
               class="select form-control">`
            )
            $.ajax({
                type: "GET",
                url: "{% url 'chapterinfo_create_ajax' %}",  // URL to your view that serves new info
                success: function (response) {
                    $('#create_chapter_modal_body').append(response);
                },
                error: function () {
                    console.log('Error in generating chapter create form')
                }
            });
        });
    </script>
{% endblock %}

