{% load static %}


<div class="outerdiv">
    <div class="col-md-12">
        <div class="col-md-9 col-sm-12 col-xs-12 text-center">
            <h2 class="detailListHeader">Lecture Information</h2>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 text-right" id="button">
            <a class="btn-sm btn-primary" href="{% if '/teachers' in request.path %}
                /teachers{{ object.get_update_url }}
            {% else %}
                {{ object.get_update_url }}
            {% endif %}">Edit Lecture</a>
            <a class="btn-sm btn-danger" href="{{ object.get_delete_url }}">Delete Lecture</a>
        </div>
    </div>
    <div class="col-md-12">
        <hr class="header_hr">
        <div class="col-md-6 col-xs-12">
            <img class="card-img-top" src="
                            {% if object.Lecture_Cover_File %}
                                /media/{{ object.Lecture_Cover_File }}
                            {% else %}
                                {% static 'images/course.jpg' %}
                            {% endif %}"
                 alt="Card image cap" width="100%">
            <div class="courseDetailStyle1 row" style="margin-top: 10px">
                <div class="col-lg-3" style="border-right: 1px solid lightgrey;display: flex;flex-direction: row;">


                    <img src="{{ object.Teacher_Code.Member_Avatar.url }}"
                         class="profile_img img-responsive"
                         style="height: 50px;width: 50px;">
                    <div style="padding-left: 10px;font-size: 15px;">
                        <h5 align="center">
                            <ul class="list-unstyled">
                                <li>
                                    Instructor
                                </li>
                                <li style="font-weight: bold;color: black;">
                                    {{ object.Teacher_Code }}
                                </li>
                            </ul>
                        </h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5 align="center">Reviews:
                        <span style="color: lightskyblue;">
	            		            <i class="fa fa-star" aria-hidden="false"></i>
	            		            <i class="fa fa-star" aria-hidden="true"></i>
	            		            <i class="fa fa-star" aria-hidden="true"></i>
	            		            <i class="fa fa-star" aria-hidden="true"></i>
	            		            <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    </h5>
                </div>
                <div class="col-lg-3" style="font-size: 15px;border-left: 1px solid lightgrey;">
                    <h5 align="center"><i class="fa fa-comment-o"></i>
                        <a href="">FORUM</a>
                    </h5>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 align="center"><b>{{ object.Lecture_Name }}</b></h3>
            <table class="table">

                <tr>
                    <td>Lecture Level</td>
                    <td>{{ object.Lecture_Level }}</td>
                </tr>
                <tr>
                    <td>Lecture Provider</td>
                    <td>{{ object.Lecture_Provider }}</td>
                </tr>
                <tr>
                    <td>Register Agent</td>
                    <td>{{ object.Register_Agent }}</td>
                </tr>

                {#            <tr>#}
                {#                <td>Center Code</td>#}
                {#                <td>{{ object.Center_Code }}</td>#}
                {#            </tr>#}
                <tr>
                    <td>Teacher Code</td>
                    <td>{{ object.Teacher_Code }}</td>
                </tr>
                {#            <tr>#}
                {#                <td>Use Flag</td>#}
                {#                <td>{{ object.Use_Flag }}</td>#}
                {#            </tr>#}

            </table>

            <h4 align="center"><b>Lecture Description</b></h4>

            {{ object.Lecture_Description }}
        </div>

    </div>

    <div class="col-md-12 col-sm-12 xol-xs-12">
        <hr class="header_hr">

        <div class="col-md-12">
            <div class="col-md-9 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Chapters</h2>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 text-right" id="button">
                <a class="btn-sm btn-success" href="{% if '/teachers' in request.path %}
                        {% url 'teacher_chapterinfo_create' %}
                    {% else %}
                        {% url 'chapterinfo_create' course=object.pk %}
                    {% endif %}">Create new Chapter</a>
            </div>

        </div>
        <div class="col-md-12">
            <hr class="header_hr">
            {% for o in chapters %}
                <div class="col-md-12 col-sm-12 col-xs-12 boxShadow" style="box-shadow: gainsboro; margin: 10px;">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h5 style="padding-top: 3px; color: #000000"> Chapter No: {{ o.Chapter_No }}</h5>
                        <h3>
                            <b style="color: #000000">{{ o.Chapter_Name }}</b>
                        </h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{% if '/teachers' in request.path %}
                                /teachers{{ o.get_absolute_url }}
                            {% else %}
                               {{ o.get_absolute_url }}
                            {% endif %}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; ">
                        <hr style="margin-top: 5px; margin-bottom: 10px;">
                        <p>{{ o.Summary }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



