{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'assignhomeworkinfo_list' %}">Assignment</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/assignhomeworkinfo/create/' == request.path %}
        Create New Assignment
        {% else %}
        Edit Assignment Info
        {% endif %}
    </li>
</ol>

<div class="headerDiv">
    <h2 class="infoFormHeader">
        {% if '/assignhomeworkinfo/create/' == request.path %}
        Create New Assignment
        {% else %}
        Edit Assignment Info
        {% endif %}
    </h2>
    <hr class="header_hr">
</div>
<div class="x_content">
    <form method="post" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
        {% csrf_token %}


        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <label for="id_subject_code" class="control-label ">
                Subject Code
            </label>
            <input type="number" name="subject_code" id="id_subject_code" required="required"
                class="numberinput form-control has-feedback-left" placeholder="Subject Code">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <label for="id_reg_agent" class="control-label ">
                Reg Agent
            </label>
            <input type="number" name="reg_agent" id="id_reg_agent" required="required"
                class="form-control has-feedback-left" id="inputSuccess3" placeholder="Reg Agent">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

</div>
<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
    <label for="id_udt_agent" class="control-label ">
        Udt Agent
    </label>
    <input type="text" name="udt_agent" id="id_udt_agent" required="required" class="form-control has-feedback-left"
        id="inputSuccess3" placeholder="Udt Agent">
    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
</div>


<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
    <label for="id_question_code" class="control-label ">
        Question Code
    </label>
    <select name="question_code" id="id_question_code" required="required" class="select form-control"
        id="inputSuccess3">
        <option value="" selected="">---------</option>
    </select>

</div>
<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
    <label for="id_lecture_code" class="control-label ">
        Lecture Code
    </label>
    <select name="lecture_code" id="id_lecture_code" required="required" class="select form-control" id="inputSuccess3">
        <option value="" selected="">---------</option>
    </select>

</div>

<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">

    <label for="id_chapter_code" class="form-control-label  requiredField">
        Chapter Code
    </label>
    <div class=""> <select name="chapter_code" id="id_chapter_code" required="" class="select form-control">
            <option value="" selected="">---------</option>


        </select>
    </div>

</div>




<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">

    <label for="id_member_code" class="form-control-label  requiredField">
        Member Code
    </label>
    <div class=""> <select name="member_code" id="id_member_code" required="" class="select form-control">
            <option value="" selected="">---------</option>


        </select>
    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
    <label>
        Status
    </label><br>
    <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag" {% if object.Use_Flag == True %} checked
        {% endif %}>
</div>




<div class="submitButton col-md-12">
    <button class="btn btn-success" type="submit">Submit</button>
</div>
</form>
</div>
{% endblock %}