{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Assignments</li>
{% endblock %}
{% block content %}
    <div class="inningInfoListClass">
        <hr class="header_hr">
        <h2 class="tableHeader">List of Assignments</h2>
        <hr class="header_hr">

        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'assignmentinfo_create' %}">Create new Assignment</a>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr>
                    <td>ID</td>
                    <td>Assignment Topic</td>
                    <td>Assignment Deadline</td>
                    <td>Lecture Code</td>
                    <td>Chapter Code</td>
                    <td>Register Agent</td>
                    <td>Use Flag</td>
                    <td>Register DateTime</td>
                    <td>Updated DateTime</td>
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ object.get_absolute_url }}">{{ object.Assignment_Topic }}</a></td>
                        <td>{{ object.Assignment_Deadline }}</td>
                        <td>{{ object.Lecture_Code }}</td>
                        <td>{{ object.Chapter_Code }}</td>
                        <td>{{ object.Register_Agent }}</td>
                        <td>{{ object.Use_Flag }}</td>
                        <td>{{ object.Register_DateTime }}</td>
                        <td>{{ object.Updated_DateTime }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}