{% extends "base.html" %}
{% load static %}
{% block content %}
    <p><a class="btn btn-default" href="{% url 'WebApp_boardinfo_list' %}">BoardInfo Listing</a></p>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Link</td>
            <td>board_name</td>
            <td>board_write_level</td>
            <td>board_read_level</td>
            <td>board_reply_level</td>
            <td>board_new_time</td>
            <td>board_create_time</td>
            <td>admin_id</td>
            <td>use_flag</td>
            <td>reg_date</td>
            <td>reg_time</td>
            <td>reg_agent</td>
            <td>udt_date</td>
            <td>udt_time</td>
            <td>udt_agent</td>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td>{{ object.board_name }}</td>
                <td>{{ object.board_write_level }}</td>
                <td>{{ object.board_read_level }}</td>
                <td>{{ object.board_reply_level }}</td>
                <td>{{ object.board_new_time }}</td>
                <td>{{ object.board_create_time }}</td>
                <td>{{ object.admin_id }}</td>
                <td>{{ object.use_flag }}</td>
                <td>{{ object.reg_date }}</td>
                <td>{{ object.reg_time }}</td>
                <td>{{ object.reg_agent }}</td>
                <td>{{ object.udt_date }}</td>
                <td>{{ object.udt_time }}</td>
                <td>{{ object.udt_agent }}</td>
            </tr>
        {% endfor %}
    </table><a class="btn btn-primary" href="{% url 'WebApp_boardinfo_create' %}">Create new BoardInfo</a>
{% endblock %}