{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}



<link rel="stylesheet" href="{% static 'css/centerinfo_form.css' %}">
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'centerinfo_list' %}">Center</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create New Center</li>
</ol>

<div class="centerInfoListingHeader">
    <h2 class="font2">Create New Center</h2>
    <hr>
</div>



<div class="x_content">
  <br>
  <form method="post" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    {% csrf_token %}
    <div class="form-group" id="div_id_Center_Name">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Center Name <span
          class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input value="{{ object.Center_Name }}" type="text" name="Center_Name" id="id_Center_Name" required="required"
          class="form-control col-md-7 col-xs-12">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Center Address<span
          class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input value="{{ object.Center_Address }}" type="text" name="Center_Address" id="id_Center_Address"
          required="required" class="form-control col-md-7 col-xs-12">

      </div>
    </div>
    <div class="form-group" id="div_id_Use_Flag">

      <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <label>
          <input type="checkbox" id="id_Use_Flag" class="js-switch">
        </label>
      </div>
      <!-- <div class="col-md-6 col-sm-6 col-xs-12">
        <input value="{{ object.Use_Flag }}" type="text" name="Use_Flag" id="id_Use_Flag" required="required"
          class="form-control col-md-7 col-xs-12">
        {% for error in form.Use_Flag.errors %}
        <p id="error_1_id_Register_DateTime" class="has-error control-label"><strong>

            {{ error|escape }}

          </strong></p>

        {% endfor %}

      </div> -->
    </div>
    <!-- <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Register_DateTime<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" name="Register_DateTime" value="2019-06-18 11:30:01" id="id_Register_DateTime"
          class="datetimeinput form-control form-control"> </div>
    </div> -->
    <div class="form-group" id="div_id_Center_Name">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Register Agent<span
          class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input value="{{ object.Register_Agent }}" type="text" name="Register_Agent" id="id_Register_Agent"
          required="required" class="form-control col-md-7 col-xs-12">
      </div>
    </div>


    <div class="submitButton">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>


  </form>
</div>







{% endblock %}