{% extends "base.html" %}


{% load static %}


{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/centerinfo_list.css' %}">


<div class="centerInfoListClass">

    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Center</li>
    </ol>

    <h2 class="tableHeader">List of Centers</h2>
    <hr class="header_hr">

    <div class="btn-createnew">
        <a class="btn btn-success" href="{% url 'centerinfo_create' %}">Create new Center</a>
    </div>
    <br><br><br>

    <div class="table-responsive">
        <table class="table table-striped table-bordered bg-white">
            <thead class="thead-light bg-primary">
                <tr class="tableTitleRow">
                    <td>ID</td>
                    <td>Center Name</td>
                    <td>Center Address</td>
                    <td>Register Agent</td>
                    <td>Register Date</td>
                    <td>Updated Date</td>
                </tr>
            </thead>
            {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>

                <td><a href="{{object.get_absolute_url}}">{{ object.Center_Name }}</a></td>
                <td>{{ object.Center_Address }}</td>
                <td>{{ object.Register_Agent }}</td>
                <td>{{ object.Register_DateTime }}</td>
                <td>{{ object.Updated_DateTime }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <br>

</div>




{% endblock %}


{% block customjss %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }]
        });
    });
</script>

{% endblock %}