{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_centerinfo_list' %}">CenterInfo Listing</a></p>
<table class="table">
<tr><td>Center_Name</td><td>{{ object.Center_Name }}</td></tr>
<tr><td>Center_Address</td><td>{{ object.Center_Address }}</td></tr>
<tr><td>Use_Flag</td><td>{{ object.Use_Flag }}</td></tr>
<tr><td>Register_DateTime</td><td>{{ object.Register_DateTime }}</td></tr>
<tr><td>Register_Agent</td><td>{{ object.Register_Agent }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CenterInfo</a>

{% endblock %}