{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/centerinfo_detail.css' %}">
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'WebApp_centerinfo_list' %}">Center</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Center_Name }}</li>
</ol>
<div class="outerDiv">
    <h2 class="detailListHeader">Center Information</h2>
    <table class="table">
        <tr>
            <td>Center_Name</td>
            <td>{{ object.Center_Name }}</td>
        </tr>
        <tr>
            <td>Center_Address</td>
            <td>{{ object.Center_Address }}</td>
        </tr>
        <tr>
            <td>Use_Flag</td>
            <td>{{ object.Use_Flag }}</td>
        </tr>
        <tr>
            <td>Register_DateTime</td>
            <td>{{ object.Register_DateTime }}</td>
        </tr>
        <tr>
            <td>Register_Agent</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Center</a>
    <a class="btn btn-primary" href="{{object.get_delete_url}}">Delete Center</a>
</div>

{% endblock %}