{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/centerinfo_detail.css' %}">
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'centerinfo_list' %}">Center</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Center_Name }}</li>
</ol>
<div class="outerDiv">
    <h2 class="detailListHeader">Center Information</h2>
    <hr class="header_hr"><br>
    <table class="table">
        <tr>
            <td>Center Name</td>
            <td>{{ object.Center_Name }}</td>
        </tr>
        <tr>
            <td>Center Address</td>
            <td>{{ object.Center_Address }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if object.Use_Flag == True %}
                <span class="text-success">Active</span>
                {% else %}
                <span class="text-danger">Disable</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Register Agent</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
        <tr>
            <td>Register DateTime</td>
            <td>{{ object.Register_DateTime }}</td>
        </tr>
        <tr>
            <td>Updated DateTime</td>
            <td>{{ object.Updated_DateTime }}</td>
        </tr>

    </table><br>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Center</a>
    <a class="btn btn-danger" href="{% url 'centerinfo_delete' pk=object.pk %}"
       onclick="return confirm('Are you sure you want to delete the center:\n'+ '{{ object.Center_Name|safe }}' +'\n\nThis cannot be undone.')">
        Delete Center</a>
</div>

{% endblock %}