{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_chaptermissoncheckcard_list' %}">ChapterMissonCheckCard Listing</a></p>
<table class="table">
<tr><td>check_card_code</td><td>{{ object.check_card_code }}</td></tr>
<tr><td>chapter_code</td><td>{{ object.chapter_code }}</td></tr>
<tr><td>use_flag</td><td>{{ object.use_flag }}</td></tr>
<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>
<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>
<tr><td>reg_agent</td><td>{{ object.reg_agent }}</td></tr>
<tr><td>udt_date</td><td>{{ object.udt_date }}</td></tr>
<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>
<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ChapterMissonCheckCard</a>

{% endblock %}