{% extends "base.html" %}
{% load static %}
{% block content %}
    <p><a class="btn btn-default" href="{% url 'WebApp_chaptercontentmedia_list' %}">ChapterContentMedia Listing</a></p>
    <table class="table">
        <tr>
            <td>chapter_contents_code</td>
            <td>{{ object.chapter_contents_code }}</td>
        </tr>
        <tr>
            <td>media_type</td>
            <td>{{ object.media_type }}</td>
        </tr>
        <tr>
            <td>media_desc</td>
            <td>{{ object.media_desc }}</td>
        </tr>
        <tr>
            <td>media_filename</td>
            <td>{{ object.media_filename }}</td>
        </tr>
        <tr>
            <td>use_flag</td>
            <td>{{ object.use_flag }}</td>
        </tr>
        <tr>
            <td>reg_date</td>
            <td>{{ object.reg_date }}</td>
        </tr>
        <tr>
            <td>reg_time</td>
            <td>{{ object.reg_time }}</td>
        </tr>
        <tr>
            <td>udt_date</td>
            <td>{{ object.udt_date }}</td>
        </tr>
        <tr>
            <td>udt_time</td>
            <td>{{ object.udt_time }}</td>
        </tr>
        <tr>
            <td>reg_agent</td>
            <td>{{ object.reg_agent }}</td>
        </tr>
        <tr>
            <td>udt_agent</td>
            <td>{{ object.udt_agent }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit ChapterContentMedia</a>

{% endblock %}