{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'lectureinfo_list' %}">Lecture</a></li>
    <li class="breadcrumb-item"><a href="{{ object.Lecture_Code.get_absolute_url }}">{{ object.Lecture_Code }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/chapterinfo/create/' == request.path %}
            Create New Chapter
        {% else %}
            Edit Chapter Info
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    {% include 'chapter/chapterinfo_form.html' %}
{% endblock content %}

