{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="chapterInfoListClass">
    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chapters</li>
    </ol>

    <h2 class="tableHeader">List of Chapters</h2>
    <hr class="header_hr">

    <div class="btn-createnew">
        <a class="btn btn-success" href="{% url 'chapterinfo_create' %}">Create new Chapter</a>
    </div>
    <br><br><br>
    <div class="table-responsive">
        <table class="table table-striped table-bordered bg-white">
            <thead class="thead-light bg-primary">

                <tr class="tableTitleRow">
                    <td>ID</td>
                    <td>Link</td>
                    <td>chapter_no</td>
                    <td>chapter_name</td>
                    <td>topic</td>
                    <td>summary</td>
                    <td>page_num</td>
                    <td>vod_size</td>
                    <td>intro</td>
                    <td>target</td>
                    <td>top_img</td>
                    <td>bottom_img1</td>
                    <td>bottom_img2</td>
                    <td>bottom_img3</td>
                    <td>thum_file</td>
                    <td>vod_file</td>
                    <td>use_flag</td>
                    <td>reg_date</td>
                    <td>reg_time</td>
                    <td>reg_agent</td>
                    <td>udt_date</td>
                    <td>udt_time</td>
                    <td>udt_agent</td>
                    <td>today</td>
                    <td>chapter_type</td>
                    <td>prologue_type</td>
                    <td>tabset</td>
                    <td>chapter_image</td>
                    <td>chapter_use</td>
                    <td>offline_file</td>
                    <td>pre_test_type</td>
                    <td>post_test_type</td>
                    <td>level1_avg</td>
                    <td>level2_avg</td>
                    <td>level3_avg</td>
                    <td>level1_hard_avg</td>
                    <td>level1_medium_avg</td>
                    <td>level1_easy_avg</td>
                    <td>level2_hard_avg</td>
                    <td>level2_medium_avg</td>
                    <td>level2_easy_avg</td>
                    <td>level3_hard_avg</td>
                    <td>level3_medium_avg</td>
                    <td>level3_easy_avg</td>
                    <td>homework_count</td>
                    <td>epilogue_type</td>
                    <td>epilogue_img</td>
                    <td>pbl_flag</td>
                    <td>chapter_use_time</td>
                </tr>
            </thead>
            {% for object in object_list %}
            <tr>
                <td>{{object.pk}}</td>
                <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                <td>{{ object.chapter_no }}</td>
                <td>{{ object.chapter_name }}</td>
                <td>{{ object.topic }}</td>
                <td>{{ object.summary }}</td>
                <td>{{ object.page_num }}</td>
                <td>{{ object.vod_size }}</td>
                <td>{{ object.intro }}</td>
                <td>{{ object.target }}</td>
                <td>{{ object.top_img }}</td>
                <td>{{ object.bottom_img1 }}</td>
                <td>{{ object.bottom_img2 }}</td>
                <td>{{ object.bottom_img3 }}</td>
                <td>{{ object.thum_file }}</td>
                <td>{{ object.vod_file }}</td>
                <td>{{ object.use_flag }}</td>
                <td>{{ object.reg_date }}</td>
                <td>{{ object.reg_time }}</td>
                <td>{{ object.reg_agent }}</td>
                <td>{{ object.udt_date }}</td>
                <td>{{ object.udt_time }}</td>
                <td>{{ object.udt_agent }}</td>
                <td>{{ object.today }}</td>
                <td>{{ object.chapter_type }}</td>
                <td>{{ object.prologue_type }}</td>
                <td>{{ object.tabset }}</td>
                <td>{{ object.chapter_image }}</td>
                <td>{{ object.chapter_use }}</td>
                <td>{{ object.offline_file }}</td>
                <td>{{ object.pre_test_type }}</td>
                <td>{{ object.post_test_type }}</td>
                <td>{{ object.level1_avg }}</td>
                <td>{{ object.level2_avg }}</td>
                <td>{{ object.level3_avg }}</td>
                <td>{{ object.level1_hard_avg }}</td>
                <td>{{ object.level1_medium_avg }}</td>
                <td>{{ object.level1_easy_avg }}</td>
                <td>{{ object.level2_hard_avg }}</td>
                <td>{{ object.level2_medium_avg }}</td>
                <td>{{ object.level2_easy_avg }}</td>
                <td>{{ object.level3_hard_avg }}</td>
                <td>{{ object.level3_medium_avg }}</td>
                <td>{{ object.level3_easy_avg }}</td>
                <td>{{ object.homework_count }}</td>
                <td>{{ object.epilogue_type }}</td>
                <td>{{ object.epilogue_img }}</td>
                <td>{{ object.pbl_flag }}</td>
                <td>{{ object.chapter_use_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
{% block customjss %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }]
        });
    });
</script>

{% endblock %}