{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="chapterInfoListClass">
        <ol aria-label="breadcrumb" class="breadcrumb navClass">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chapters</li>
        </ol>

        <h2 class="tableHeader">List of Chapters</h2>
        <hr class="header_hr">

        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'chapterinfo_create' %}">Create new Chapter</a>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white">
                <thead class="thead-light bg-primary">

                <tr class="tableTitleRow">
                    <td>ID</td>
                    <td>Chapter No</td>
                    <td>Chapter Name</td>
                    <td>Summary</td>
                    <td>Page No</td>
                    <td>Use Flag</td>
                    <td>Register Agent</td>
                    <td>Lecture Code</td>
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.Chapter_No }}</td>
                        <td><a href="{{object.get_absolute_url}}"><b>{{ object.Chapter_Name }}</b></a></td>
                        <td>{{ object.Summary }}</td>
                        <td>{{ object.Page_Num }}</td>
                        <td>{{ object.Use_Flag }}</td>
                        <td>{{ object.Register_Agent }}</td>
                        <td>{{ object.Lecture_Code }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
{% block customjss %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>

{% endblock %}