{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'groupmapping_list' %}">Batch Registration</a></li>
    {#    <li class="breadcrumb-item"><a href="{% url 'inninginfo_detail' object.Inning_Code.id %}">{{ object.Inning_Code }}</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">{{ object.GroupMapping_Name }}</li>
{% endblock %}
{% block content %}

    <div class="outerdiv">

        <h2 class="detailListHeader">Group Mapping Information</h2>
        <hr class="header_hr">
        <br>
        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
            <h5><b>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>GroupName</td>
                        <td>{{ object.GroupMapping_Name }}</td>
                    </tr>
                    <tr>
                        <td>Register Agent</td>
                        <td>{{ object.Register_Agent }}</td>
                    </tr>
                    <tr>
                        <td>Members</td>
                        <td> {% for students in object.Students.all %}
                            {{ students }}<br>{% endfor %}</td>
                    </tr>
                </table>
            </b>
            </h5>
            <br>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Group Mapping</a>
                <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete Group Mapping</a>
            </div>
        </div>
    </div>
{% endblock %}