{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Group Mapping</li>
{% endblock %}
{% block content %}
    <div class="groupmappingListClass">

        <hr class="header_hr">
        <h2 class="tableHeader">List of Group Mappings</h2>
        <hr class="header_hr">
        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'groupmapping_create' %}">Create New GroupMapping</a>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr>
                    <td>ID</td>
                    <td>Session</td>
                    <td>Register Agent</td>
                    <td>Use Flag</td>
                    <td>Student Code</td>
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b><a href="{{ object.get_absolute_url }}">{{ object.Inning_Code }}</a></b></td>
                        <td>{{ object.Register_Agent }}</td>
                        <td>{{ object.Use_Flag }}</td>
                        <td>{{ object.Student_Code }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block customjss %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>
{% endblock %}