{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'vendorsx/fullcalendar/dist/fullcalendar.min.css' %}" rel='stylesheet'>
    <link href="{% static 'vendorsx/fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print">
{% endblock %}
{% block content %}



    <div class="container_main" id="adminHome">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats" id="student_tile">
                    <div class="icon"><img src="/static/images/student_icon.png" id="student_icon"></div>
                    <div class="count">{{ studentcount }}</div>
                    <h3>Student</h3>
                    <p></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats" id="teacher_tile">
                    <div class="icon"><img src="/static/images/teacher_icon.png" id="teacher_icon"></div>
                    <div class="count">{{ teachercount }}</div>
                    <h3>Teacher</h3>
                    <p></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats" id="total_tile">
                    <div class="icon"><img src="/static/images/total_icon.png" id="total_icon"></div>
                    <div class="count">{{ totalcount }}</div>
                    <a href="{% url 'memberinfo_list' %}"><h3>Total Members</h3></a>
                    <p></p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats" id="course_tile">
                    <div class="icon"><img src="/static/images/courses.png" id="course_icon"></div>
                    <div class="count">{{ coursecount }}</div>
                    <a href="{% url 'lectureinfo_list' %}"><h3>Courses</h3></a>
                    <p></p>
                </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="panel panel-default">
                    <div class="row title">
                        <div class="col-md-12 forumDiv">
                            <h3><span class="forum">FORUM</span><span class="thread">{{ thread.count }}</span></h3>
                            <h5></h5>
                        </div>
                    </div>
                    <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated="">

                        {% for object in thread %}
                            <li class="list-group-item ">
                                <div class="media-body">
                                    <B><span class="forum"><a
                                            href="{{ object.get_absolute_url }}">{{ object.title }}</a></span><span
                                            class="thread">{{ object.pub_date|naturaltime }}</span></B>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="containerMessage col-lg-4 panel panel-default" id="adminMessageContainer">

                <div class="discussions" style="display: block;">
                    <div class="search-header">
                        <h4>Private chat</h4>

                    </div>

                    <hr>

                    <div class="status online">
                        <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
                        <div class="onlineIcon"></div>
                        <div class="content">
                            <h5>Rojan Bade</h5>
                            <span>Please review and sign the binding agreement</span>
                        </div>
                    </div>

                    <div class="status online">
                        <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
                        <div class="onlineIcon"></div>
                        <div class="content">
                            <h5>Rojan Bade</h5>
                            <span>Please review and sign the binding agreement</span>
                        </div>
                    </div>

                    <div class="status online">
                        <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
                        <div class="onlineIcon"></div>
                        <div class="content">
                            <h5>Rojan Bade</h5>
                            <span>Please review and sign the binding agreement</span>
                        </div>
                    </div>

                    <div class="status online">
                        <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
                        <div class="onlineIcon"></div>
                        <div class="content">
                            <h5>Rojan Bade</h5>
                            <span>Please review and sign the binding agreement</span>
                        </div>
                    </div>

                </div>

                <div>
                    <ul class="users" style="display: none">

                        <div class="search-header">
                            <h4>Groups</h4>
                            <div id="form-btn">
                                <input type="text" placeholder="Search.." name="search">
                                <button type="submit"><i class="fa fa-search fa-lg"></i></button>
                            </div>
                        </div>

                        <hr>

                        <div class="groups">
                            <li>
                                <a href="#">
                                    <div class="status online">
                                        <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                                        <div class="onlineIcon"></div>
                                        <div class="content1">
                                            <h5>Rojan Bade</h5>
                                            <span>Banepa, Nepal</span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="status online">
                                        <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                                        <div class="onlineIcon"></div>
                                        <div class="content1">
                                            <h5>Rojan Bade</h5>
                                            <span>Banepa, Nepal</span>
                                        </div>
                                    </div>
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <div class="status online">
                                        <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                                        <div class="onlineIcon"></div>
                                        <div class="content1">
                                            <h5>Rojan Bade</h5>
                                            <span>Banepa, Nepal</span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="status online">
                                        <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                                        <div class="onlineIcon"></div>
                                        <div class="content1">
                                            <h5>Rojan Bade</h5>
                                            <span>Banepa, Nepal</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="title">
                        <a href="{% url 'lectureinfo_list' %}"><h2 style="font-size: 23px ">Courses</h2></a>

                        <!-- <h5>Your recent courses</h5> -->
                    </div>
                    <ul class="list-group">
                        {% for object in course %}

                            <li class="list-group-item ">
                                <div class="media-body">
                                    <B style="font-size: 14px"><a
                                            href="{{ object.get_absolute_url }}">{{ object.Lecture_Name }}</a></B>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </div>
            <!-- <div class="col-lg-4" id='calendar'></div> -->
            <div class="col-lg-4 col-xs-12">
                <div class="fc-view-container " style="">
                    <div class="fc-view fc-listMonth-view fc-list-view fc-widget-content" style="">
                        <div class="fc-scroller" style="overflow: hidden auto; height: 317px;">
                            <table class="fc-list-table">
                                <tbody>
                                <tr class="fc-list-heading" data-date="2019-07-01">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 1,
                                            2019</span><span class="fc-list-heading-alt">Monday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">12:00am</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>All Day Event</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-07">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 7,
                                            2019</span><span class="fc-list-heading-alt">Sunday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-08">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 8,
                                            2019</span><span class="fc-list-heading-alt">Monday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">all-day</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-09">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 9,
                                            2019</span><span class="fc-list-heading-alt">Tuesday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-12">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 12,
                                            2019</span><span class="fc-list-heading-alt">Friday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">10:30am</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Meeting</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-13">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 13,
                                            2019</span><span class="fc-list-heading-alt">Saturday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">7:00pm - 10:30pm</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Birthday Party</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-26">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 26,
                                            2019</span><span class="fc-list-heading-alt">Friday</span></td>
                                </tr>
                                <tr class="fc-list-item">
                                    <td class="fc-list-item-time fc-widget-content">12:00pm</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a>Lunch</a></td>
                                </tr>
                                <tr class="fc-list-heading" data-date="2019-07-28">
                                    <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">July 28,
                                            2019</span><span class="fc-list-heading-alt">Sunday</span></td>
                                </tr>
                                <tr class="fc-list-item fc-has-url">
                                    <td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td>
                                    <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span>
                                    </td>
                                    <td class="fc-list-item-title fc-widget-content"><a href="http://google.com/">Click
                                        for Google</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


{% endblock %}
{% block javascripts %}
    <script src="{% static 'vendorsx/fullcalendar/dist/fullcalendar.min.js' %}"></script>

{% endblock %}