{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    {{ form.media }}
    <link href="{% static 'vendorsx/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static '/build/css/custom.min.css' %}" rel="stylesheet">

    {#    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>#}
    {#    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>#}
{% endblock stylesheets %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'inninginfo_list' %}">Session Mapping</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/inninginfo/create/' == request.path %}
            Create New Session Mapping
        {% else %}
            Edit Session Mapping
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/inninginfo/create/' == request.path %}
                Create New Session Mapping
            {% else %}
                Edit Session Mapping
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>
    <form class="form-horizontal form-label-left" method="post" id="FormID">
        {% csrf_token %}
        <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps anchor">
                <li>
                    <a href="#step-1" class="selected" isdone="1" rel="1">
                        <span class="step_no">1</span>
                        <span class="step_descr">Choose  Session
{#                            <br><small>Session Name<br>and Group</small>#}
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2" class="disabled" isdone="0" rel="2">
                        <span class="step_no">2</span>
                        <span class="step_descr">Choose  Interval
{#                            <br><small>Session Name<br>and Group</small>#}
                        </span> </a>
                </li>
                <li>
                    <a href="#step-3" class="disabled" isdone="0" rel="3">
                        <span class="step_no">3</span>
                        <span class="step_descr">Choose  Student
{#                            <br><small>Session Name<br>and Group</small>#}
                        </span> </a>
                </li>
                <li>
                    <a href="#step-4" class="disabled" isdone="0" rel="4">
                        <span class="step_no">4</span>
                        <span class="step_descr">Choose  Courses
{#                            <br><small>Session Name<br>and Group</small>#}
                        </span> </a>
                </li>

            </ul>
            <div class="form-wrapper" style="width: 100%!important; ">

                <div class="stepContainer">
                    <div id="step-1" style="display: block;">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="StepTitle">Select Session Name and Group</h2>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                {{ form.Inning_Name|as_crispy_field }}
                            </div>

                        </div>
                    </div>
                    <div id="step-2" style="display: none; ">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="StepTitle">Start and End Dates for Session</h2>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <div id="div_id_Start_Date" class="form-group">
                                    <label for="id_Start_Date" class="control-label requiredField">
                                        Start Date</span>
                                    </label>
                                    <div class="controls ">
                                        <input value="{{ object.Start_Date|date:"Y-m-d" }}" type="date"
                                               name="Start_Date"
                                               required=""
                                               id="id_Start_Date"
                                               class="datetimeinput form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <div id="div_id_End_Date" class="form-group">
                                    <label for="id_End_Date" class="control-label  requiredField">
                                        End Date</span>
                                    </label>
                                    <div class="controls ">
                                        <input value="{{ object.End_Date|date:"Y-m-d" }}" type="date" name="End_Date"
                                               required=""
                                               id="id_End_Date" class="datetimeinput form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-3" style="display: none; ">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="StepTitle">Choose Student Group for this Session</h2>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.Groups|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div id="step-4" style="display: none;">
                        <div class="col-md-6 col-md-offset-3 text-center">

                            <h2 class="StepTitle">Select Group for Session</h2>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.Course_Group }}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <label>
                                    Status &nbsp;
                                </label>
                                <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag"
                                        {% if object.Use_Flag == False %}
                                       &nbsp;
                                        {% else %}
                                       checked
                                        {% endif %}
                                ><br> <br>
                            </div>


                            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="hidden" name="Center_Code" id="id_Center_Code"
                                       value="{{ request.user.Center_Code.id }}"
                                       class="select form-control">
                            </div>
                            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="hidden" name="Register_Agent" id="id_Register_Agent"
                                       value="{{ request.user.username }}"
                                       class="select form-control">
                            </div>
                        </div>
                        <div class="submitButton  col-md-12">
                            <button class="btn btn-success" type="submit"> Submit </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>

    {#    <form method="post" id="FormID">#}
    {#        {% csrf_token %}#}
    {#        <div class="col-md-6 col-sm-6 col-xs-12">#}
    {#            {{ form.Inning_Name|as_crispy_field }}#}
    {#        </div>#}
    {#        <div class="col-md-6 col-sm-12 col-xs-12">#}
    {#            {{ form.Groups|as_crispy_field }}#}
    {#        </div>#}
    {#            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">#}
    {#                <div id="div_id_Inning_Name" class="form-group">#}
    {#                    <label for="id_Inning_Name" class="control-label ">#}
    {#                        Session Name#}
    {#                    </label>#}
    {#                    <div class="controls ">#}
    {#                        <input value="{{ object.Inning_Name }}" type="text" name="Inning_Name" id="id_Inning_Name"#}
    {#                               maxlength="500"#}
    {#                               class="textinput textInput form-control">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">#}
    {#            <div id="div_id_Start_Date" class="form-group">#}
    {#                <label for="id_Start_Date" class="control-label requiredField">#}
    {#                    Start Date</span>#}
    {#                </label>#}
    {#                <div class="controls ">#}
    {#                    <input value="{{ object.Start_Date|date:"Y-m-d" }}" type="date" name="Start_Date" required=""#}
    {#                           id="id_Start_Date"#}
    {#                           class="datetimeinput form-control">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">#}
    {#            <div id="div_id_End_Date" class="form-group">#}
    {#                <label for="id_End_Date" class="control-label  requiredField">#}
    {#                    End Date</span>#}
    {#                </label>#}
    {#                <div class="controls ">#}
    {#                    <input value="{{ object.End_Date|date:"Y-m-d" }}" type="date" name="End_Date" required=""#}
    {#                           id="id_End_Date" class="datetimeinput form-control">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {##}
    {#        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-center">#}
    {#            <label>#}
    {#                Status#}
    {#            </label><br>#}
    {#            <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag"#}
    {#                    {% if object.Use_Flag == False %}#}
    {#                   &nbsp;#}
    {#                    {% else %}#}
    {#                   checked#}
    {#                    {% endif %}#}
    {#            ><br> <br>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">#}
    {#            {{ form.Course_Group }}#}
    {#        </div>#}
    {##}
    {##}
    {#        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">#}
    {#            <input type="hidden" name="Center_Code" id="id_Center_Code" value="{{ request.user.Center_Code.id }}"#}
    {#                   class="select form-control">#}
    {#        </div>#}
    {#        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">#}
    {#            <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.username }}"#}
    {#                   class="select form-control">#}
    {#        </div>#}
    {##}
    {#        <div class="submitButton  col-md-12">#}
    {#            <button class="btn btn-success" type="submit">Submit</button>#}
    {#        </div>#}
    {#    </form>#}
{% endblock %}
{% block customjss %}
    <script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>


{% endblock %}