{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'inninggroup_list' %}">Session Mapping</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% if '/inninggroup/create/' == request.path %}
                Create New Session Mapping
            {% else %}
                Edit Session Mapping Info
            {% endif %}
        </li>
    </ol>

    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/inninggroup/create/' == request.path %}
                Create New Mapping Group
            {% else %}
                Edit Session Mapping Info
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>

    <form method="post" id="FormID">
        {% csrf_token %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.Teacher_Code|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.Register_Agent|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.Inning_Code|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.Lecture_Code|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.Use_Flag|as_crispy_field }}
        </div>
        <div class="submitButton col-md-12">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}