{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'inninginfo_list' %}">Session</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Inning_Name }}</li>
{% endblock %}
{% block content %}
    <div class="outerdiv">

        <h2 class="detailListHeader">Session Information</h2>
        <hr class="header_hr">
        <br>
        <table class="table">
            <tr>
                <td>Session Name</td>
                <td>{{ object.Inning_Name }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ object.Start_Date }}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{ object.End_Date }}</td>
            </tr>
            <tr>
                <td>Use Flag</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>
            {#<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>#}
            {#<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>#}
            <tr>
                <td>Register Agent</td>
                <td>{{ object.Register_Agent }}</td>
            </tr>
            <tr>
                <td>Center Code</td>
                <td>{{ object.Center_Code }}</td>
            </tr>
            {#<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>#}
            {#<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>#}
        </table>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Session</a>
            <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete Session</a>
        </div>
    </div>
    <select class="ui fluid search dropdown" multiple="">
        <option value="">State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select>

{% endblock %}