{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'inninginfo_list' %}">InningInfo Listing</a></p>
<table class="table">
<tr><td>Session Name</td><td>{{ object.Inning_Name }}</td></tr>
<tr><td>Start Date</td><td>{{ object.Start_Date }}</td></tr>
<tr><td>End Date</td><td>{{ object.End_Date }}</td></tr>
<tr><td>Use Flag</td><td>{{ object.Use_Flag }}</td></tr>
{#<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>#}
{#<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>#}
<tr><td>Register Agent</td><td>{{ object.Register_Agent }}</td></tr>
<tr><td>Center Code</td><td>{{ object.Center_Code }}</td></tr>
{#<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>#}
{#<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>#}
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit InningInfo</a>

{% endblock %}