{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'inninginfo_list' %}">Session</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/inninginfo/create/' == request.path %}
            Create New Session
        {% else %}
            Edit Session Info
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/inninginfo/create/' == request.path %}
                Create New Session
            {% else %}
                Edit Session Info
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>

    <form method="post" id="FormID">
        {% csrf_token %}
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <div id="div_id_Inning_Name" class="form-group">
                <label for="id_Inning_Name" class="control-label ">
                    Session Name
                </label>
                <div class="controls ">
                    <input type="text" name="Inning_Name" id="id_Inning_Name" maxlength="500"
                           class="textinput textInput form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <div id="div_id_Start_Date" class="form-group">
                <label for="id_Start_Date" class="control-label requiredField">
                    Start Date</span>
                </label>
                <div class="controls ">
                    <input type="date" name="Start_Date" required="" id="id_Start_Date"
                           class="datetimeinput form-control">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <div id="div_id_End_Date" class="form-group">
                <label for="id_End_Date" class="control-label  requiredField">
                    End Date</span>
                </label>
                <div class="controls ">
                    <input type="date" name="End_Date" required="" id="id_End_Date" class="datetimeinput form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Register_Agent|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Use_Flag|as_crispy_field }}
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="hidden" name="Center_Code" id="id_Center_Code" value="{{ request.user.Center_Code.id }}"
                   class="select form-control">
        </div>


        <div class="submitButton  col-md-12">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}