{% extends "base.html" %}
{% load static %}
{% block content %}
    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'inninggroup_list' %}">Session Mapping</a></li>
        <li class="breadcrumb-item active" aria-current="page">Session Mapping Information</li>
    </ol>
    <div class="outerdiv">

        <h2 class="detailListHeader">Session Information</h2>
        <hr class="header_hr">
        <br>
        <table class="table">
            <tr>
                <td>Teacher Code</td>
                <td>{{ object.Teacher_Code }}</td>
            </tr>
            <tr>
                <td>Use Flag</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>
            <tr>
                <td>Register Agent</td>
                <td>{{ object.Register_Agent }}</td>
            </tr>
            <tr>
                <td>Inning Code</td>
                <td>{{ object.Inning_Code }}</td>
            </tr>
            <tr>
                <td>Lecture Code</td>
                <td>{{ object.Lecture_Code }}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Session Group</a>
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete Session Group</a>

    </div>
{% endblock %}