{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Sessions</li>
{% endblock %}
{% block content %}
    <div class="inningInfoListClass">
        <hr class="header_hr">
        <h2 class="tableHeader">List of Sessions</h2>
        <hr class="header_hr">

        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'inninginfo_create' %}">Create new Session</a>
        </div>
        <br><br><br>

        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr class="tableTitleRow">
                    <td>ID</td>
                    <td>Session Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Register Agent</td>
                    <td>Center Code</td>
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {# <td>{{ object.inning_name }}</td>#}
                        <td><B><a href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></B></td>
                        <td>{{ object.Start_Date }}</td>
                        <td>{{ object.End_Date }}</td>
                        {#                        <td>{{ object.use_flag }}</td>#}
                        {#                        <td>{{ object.reg_date }}</td>#}
                        {#                        <td>{{ object.reg_time }}</td>#}
                        <td>{{ object.Register_Agent }}</td>
                        <td>{{ object.Center_Code }}</td>
                        {#                        <td>{{ object.udt_time }}</td>#}
                        {#                        <td>{{ object.udt_agent }}</td>#}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br>
        <br>

    </div>


{% endblock %}



{% block customjss %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>

{% endblock %}