{% extends "base.html" %}
{% load static %}
{% block content %}
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'lectureinfo_list' %}">Lecture</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.lecture_name }}</li>
</ol>
<div class="outerdiv">

    <h2 class="detailListHeader">Lecture Information</h2>
    <hr class="header_hr"><br>
    <table class="table">
        <tr>
            <td>Lecture Name</td>
            <td>{{ object.Lecture_Name }}</td>
        </tr>
        <tr>
            <td>Lecture Description</td>
            <td>{{ object.Lecture_Description }}</td>
        </tr>
        <tr>
            <td>Lecture Cover</td>
            <td>{{ object.Lecture_Cover_File }}</td>
        </tr>
        <tr>
            <td>Lecture Level</td>
            <td>{{ object.Lecture_Level }}</td>
        </tr>
        <tr>
            <td>Register Agent</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
        <tr>
            <td>Lecture Provider</td>
            <td>{{ object.Lecture_Provider }}</td>
        </tr>
        <tr>
            <td>Center Code</td>
            <td>{{ object.Center_Code }}</td>
        </tr>
        <tr>
            <td>Teacher Code</td>
            <td>{{ object.Teacher_Code }}</td>
        </tr>
        <tr>
            <td>Use Flag</td>
            <td>{{ object.Use_Flag }}</td>
        </tr>

    </table>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Lecture</a>
    <a class="btn btn-danger" href="{{object.get_delete_url}}">Delete Lecture</a>
</div>

{% endblock %}