{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/lectureinfo_list.css' %}">
<div class="lectureInfoListClass">
    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lectures</li>
    </ol>

    <h2 class="btn btn-title">List of Lectures</h2>
    <br>
    <div class="btn-createnew">
        <a class="btn btn-primary" href="{% url 'WebApp_lectureinfo_create' %}">Create new Lecture</a>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr class="tableTitleRow">
                <td>ID</td>
                <!-- <td>Link</td> -->
                <td>lecture_name</td>
                <td>lecture_teacher</td>
                <td>lecture_cover</td>
                <!-- <td>lecture_cover_file</td>
            <td>lecture_level</td> -->
                <td>lecture_info</td>
                <td>teacher</td>
                <!-- <td>use_flag</td>
             <td>reg_date</td>
              <td>reg_time</td> -->
                <td>reg_agent</td>
                <!-- <td>udt_date</td> -->
                <!-- <td>udt_time</td> -->
                <td>udt_agent</td>
                <!-- <td>lecture_certification</td> -->
                <td>lecture_provider</td>
                <!-- <td>cert_crit_prog</td> -->
                <!-- <td>cert_crit_post</td> -->
                <!-- <td>cert_crit_ubt</td> -->
                <!-- <td>cert_crit_issue</td> -->

            </tr>
        </thead>
        {% for object in object_list %}
        <tr>
            <td>{{object.pk}}</td>
            <!-- <td><a href="{{object.get_absolute_url}}">{{object}}</a></td> -->
            <td><a href="{{object.get_absolute_url}}">{{ object.lecture_name }}</a></td>
            <td>{{ object.lecture_teacher }}</td>
            <td>{{ object.lecture_cover }}</td>
            <!-- <td>{{ object.lecture_cover_file }}</td> -->
            <!-- <td>{{ object.lecture_level }}</td> -->
            <td>{{ object.lecture_info }}</td>
            <td>{{ object.teacher }}</td>
            <!-- <td>{{ object.use_flag }}</td>
            <td>{{ object.reg_date }}</td>
            <td>{{ object.reg_time }}</td> -->
            <td>{{ object.reg_agent }}</td>
            <!-- <td>{{ object.udt_date }}</td>
            <td>{{ object.udt_time }}</td> -->
            <td>{{ object.udt_agent }}</td>
            <!-- <td>{{ object.lecture_certification }}</td> -->
            <td>{{ object.lecture_provider }}</td>
            <!-- <td>{{ object.cert_crit_prog }}</td>
        <td>{{ object.cert_crit_post }}</td>
        <td>{{ object.cert_crit_ubt }}</td>
        <td>{{ object.cert_crit_issue }}</td> -->
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>

{% endblock %}

{% block customjss %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            buttons: ['csv', 'print']
        });
    });
</script>

{% endblock %}