{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <ol aria-label="breadcrumb" class="breadcrumb navClass">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'lectureinfo_list' %}">Lecture</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% if '/lectureinfo/create/' == request.path %}
                Create New Lecture
            {% else %}
                Edit Lecture Info
            {% endif %}
        </li>
    </ol>

    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/lectureinfo/create/' == request.path %}
                Create New Lecture
            {% else %}
                Edit Lecture Info
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>

    <form method="POST" id="FormID">
        {% csrf_token %}
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Lecture_Name|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <div id="div_id_Lecture_Description" class="form-group">
                <label for="id_Lecture_Description" class="control-label ">
                    Lecture Description
                </label>
                <div class="controls ">
                    <textarea name="Lecture_Description" cols="40" rows="1" id="id_Lecture_Description"
                              class="textarea form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Lecture_Cover_File|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Lecture_Level|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Register_Agent|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Lecture_Provider|as_crispy_field }}
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Teacher_Code|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            {{ form.Use_Flag|as_crispy_field }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="hidden" name="Center_Code" id="id_Center_Code" value="{{ request.user.Center_Code.id }}"
                   class="select form-control">
        </div>


        <div class="submitButton  col-md-12">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>


    </form>


    <div class="second-row">
        <iframe width="100%" height="730px" src="http://ubl-lecture.netlify.com"></iframe>
    </div>





{% endblock %}