{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lessonlog_list' %}">LessonLog Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>member_id</td>
    <td>member_ip</td>
    <td>member_browser</td>
    <td>member_os</td>
    <td>start_date</td>
    <td>start_time</td>
    <td>end_date</td>
    <td>end_time</td>
    <td>connect_date</td>
    <td>connect_time</td>
    <td>connect_count</td>
    <td>use_flag</td>
    <td>reg_date</td>
    <td>reg_time</td>
    <td>reg_agent</td>
    <td>udt_date</td>
    <td>udt_time</td>
    <td>udt_agent</td>
    <td>study_time</td>
    <td>connect_page</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.member_id }}</td>
    <td>{{ object.member_ip }}</td>
    <td>{{ object.member_browser }}</td>
    <td>{{ object.member_os }}</td>
    <td>{{ object.start_date }}</td>
    <td>{{ object.start_time }}</td>
    <td>{{ object.end_date }}</td>
    <td>{{ object.end_time }}</td>
    <td>{{ object.connect_date }}</td>
    <td>{{ object.connect_time }}</td>
    <td>{{ object.connect_count }}</td>
    <td>{{ object.use_flag }}</td>
    <td>{{ object.reg_date }}</td>
    <td>{{ object.reg_time }}</td>
    <td>{{ object.reg_agent }}</td>
    <td>{{ object.udt_date }}</td>
    <td>{{ object.udt_time }}</td>
    <td>{{ object.udt_agent }}</td>
    <td>{{ object.study_time }}</td>
    <td>{{ object.connect_page }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'lessonlog_create' %}">Create new LessonLog</a>
{% endblock %}