{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_lessoninfo_list' %}">LessonInfo Listing</a></p>
<table class="table">
<tr><td>teacher_code</td><td>{{ object.teacher_code }}</td></tr>
<tr><td>start_date</td><td>{{ object.start_date }}</td></tr>
<tr><td>end_date</td><td>{{ object.end_date }}</td></tr>
<tr><td>progress</td><td>{{ object.progress }}</td></tr>
<tr><td>use_flag</td><td>{{ object.use_flag }}</td></tr>
<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>
<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>
<tr><td>reg_agent</td><td>{{ object.reg_agent }}</td></tr>
<tr><td>udt_date</td><td>{{ object.udt_date }}</td></tr>
<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>
<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>
<tr><td>ubt_start</td><td>{{ object.ubt_start }}</td></tr>
<tr><td>ubt_end</td><td>{{ object.ubt_end }}</td></tr>
<tr><td>download_count</td><td>{{ object.download_count }}</td></tr>
<tr><td>download_date</td><td>{{ object.download_date }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit LessonInfo</a>

{% endblock %}