{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'memberinfo_list' %}">Member</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.username }}</li>
{% endblock %}

{% block content %}

    <div class="outerdiv">
        <h2 class="detailListHeader">Member Information</h2>
        <hr class="header_hr">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="text-center">
                <img src="{{ object.Member_Avatar.url }}" align="middle"
                     style="width: 400px; margin-top: 50px; margin-bottom: 50px;">
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <table class="table">
                <tr>
                    <td>Member ID</td>
                    <td>{{ object.username }}</td>
                </tr>

                <tr>
                    <td>First Name</td>
                    <td>{{ object.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ object.last_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ object.email }}</td>
                </tr>
                <tr>
                    <td>Permanent Address</td>
                    <td>{{ object.Member_Permanent_Address }}</td>
                </tr>
                <tr>
                    <td>Temporary Address</td>
                    <td>{{ object.Member_Temporary_Address }}</td>
                </tr>
                <tr>
                    <td>Member BirthDate</td>
                    <td>{{ object.Member_BirthDate|date:"m/d/Y" }}</td>
                </tr>
                <tr>
                    <td>Member Phone</td>
                    <td>{{ object.Member_Phone }}</td>
                </tr>

                <tr>
                    <td>Member Gender</td>
                    <td>{% if object.Member_Gender == '1' %}
                        Male
                    {% elif object.Member_Gender == '2' %}
                        Female
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{% if  object.Use_Flag  == True %}
                        On
                    {% else %}
                        Off
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Register DateTime</td>
                    <td>{{ object.date_joined|date:"m/d/Y" }}</td>
                </tr>
                <tr>
                    <td>Teacher</td>
                    <td>{{ object.Is_Teacher }}</td>
                </tr>
                <tr>
                    <td> Student</td>
                    <td>{{ object.Is_Student }}</td>
                </tr>
                <tr>
                    <td> Parent</td>
                    <td>{{ object.Is_Parent }}</td>
                </tr>
            </table>
        </div>

        <br>
        <div class="text-center">
            <a class="btn btn-info" href="/change-password/{{ object.id }}/"> Change Password </a>
            <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Member</a>
            <a class="btn btn-danger" href="{% url 'memberinfo_delete' pk=object.pk %}"
               onclick="return confirm('Are you sure you want to delete the member:\n'+ '{{ object.Member_Name|safe }}' +'\n\nThis cannot be undone.')">
                Delete Member</a>
        </div>
    </div>

{% endblock %}