{% extends "base.html" %} {% load static %} {% block content %}


<div class="container-fluid" id="onlineFriends">
  <div class="row">
    <div class="containerMessage col-lg-4 ">

      <div class="discussions">
        <div class="search-header">
          <h4>Private chat</h4>
          <div id="form-btn">
            <input type="text" placeholder="Search.." name="search">&nbsp;&nbsp;
            <button type="submit"><i class="fa fa-search fa-lg"></i></button>
          </div>
        </div>

        <hr>

        <div class="status online">
          <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
          <div class="onlineIcon"></div>
          <div class="content">
            <h5>Rojan Bade</h5>
            <span>Please review and sign the binding agreement</span>
          </div>
        </div>

        <div class="status online">
          <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
          <div class="onlineIcon"></div>
          <div class="content">
            <h5>Rojan Bade</h5>
            <span>Please review and sign the binding agreement</span>
          </div>
        </div>

        <div class="status online">
          <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
          <div class="onlineIcon"></div>
          <div class="content">
            <h5>Rojan Bade</h5>
            <span>Please review and sign the binding agreement</span>
          </div>
        </div>

        <div class="status online">
          <img class="onlineUser" src="/static/images/suted.jpg" alt="avatar">
          <div class="onlineIcon"></div>
          <div class="content">
            <h5>Rojan Bade</h5>
            <span>Please review and sign the binding agreement</span>
          </div>
        </div>

      </div>

      <div>
        <ul class="users" style="display: none">

          <div class="search-header">
            <h4>Groups</h4>
            <div id="form-btn">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search fa-lg"></i></button>
            </div>
          </div>

          <hr>

          <div class="groups">
            <li>
              <a href="#">
                <div class="status online">
                  <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                  <div class="onlineIcon"></div>
                  <div class="content1">
                    <h5>Rojan Bade</h5>
                    <span>Banepa, Nepal</span>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="status online">
                  <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                  <div class="onlineIcon"></div>
                  <div class="content1">
                    <h5>Rojan Bade</h5>
                    <span>Banepa, Nepal</span>
                  </div>
                </div>
              </a>
            </li>


            <li>
              <a href="#">
                <div class="status online">
                  <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                  <div class="onlineIcon"></div>
                  <div class="content1">
                    <h5>Rojan Bade</h5>
                    <span>Banepa, Nepal</span>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="status online">
                  <img class="onlineUser2" src="/static/images/suted.jpg" alt="avatar">
                  <div class="onlineIcon"></div>
                  <div class="content1">
                    <h5>Rojan Bade</h5>
                    <span>Banepa, Nepal</span>
                  </div>
                </div>
              </a>
            </li>
          </div>

        </ul>
      </div>

      <div class="notification" style="display: none">

        <h4>Notifications</h4>
        <hr>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

        <div class="notifi-lock">
          <i class="fa fa-lock  fa-2x" aria-hidden="true"></i>
          <h5>You need to change your password for security reasons.</h5>
        </div>

      </div>

    </div>

    <div class="containerMessage2 col-lg-8 ">
      <article>
        <header>
          <ul>
            <li>
              <a href="#">
                <div class="status1 online">
                  <img class="onlineUser1" src="/static/images/suted.jpg" alt="avatar">
                  <div class="onlineIcon1"></div>
                  <div class="content1">
                    <h5>Rojan Bade</h5>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </header>
        <main>
          <div class="row">
            <div class="message12">
              <p class="msg_">Good morning...</p>
            </div>

            <div class=" message1">
              <p class="msg_">How is work?</p>
            </div>

            <div class="message12">
              <p class="msg_">All good yours?</p>
            </div>

            <div class="message1">
              <p class="msg_">Its great. I am currently working on LMS project and learning a lot in these short amount
                of time
              </p>
            </div>
          </div>
        </main>

        <footer class="msg_footer">
          <div class="inputField">
            <input type="text" id="fname" placeholder="Type message...">
            <i class="fa fa-location-arrow fa-2x"></i>
          </div>
        </footer>
      </article>

    </div>

  </div>
</div>





<!-- <p>
  <a class="btn btn-default" href="{% url 'messageinfo_list' %}">MessageInfo Listing</a>
</p> -->
<!-- <table class="table">
  <tr>
    <td>ID</td>
    <td>Link</td>
    <td>teacher_code</td>
    <td>message</td>
    <td>message_read</td>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{ object.pk }}</td>
    <td>
      <a href="{{ object.get_absolute_url }}">{{ object }}</a>
    </td>
    <td>{{ object.teacher_code }}</td>
    <td>{{ object.message }}</td>
    <td>{{ object.message_read }}</td>
  </tr>
  {% endfor %}
</table> -->

<!-- <a class="btn btn-primary" href="{% url 'messageinfo_create' %}">Create new MessageInfo</a> -->
{% endblock %}