{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_omrquestioninfo_list' %}">OmrQuestionInfo Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>subject_code</td>
    <td>use_flag</td>
    <td>reg_date</td>
    <td>reg_time</td>
    <td>reg_agent</td>
    <td>udt_date</td>
    <td>udt_time</td>
    <td>udt_agent</td>
    <td>question_level</td>
    <td>question_score</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.subject_code }}</td>
    <td>{{ object.use_flag }}</td>
    <td>{{ object.reg_date }}</td>
    <td>{{ object.reg_time }}</td>
    <td>{{ object.reg_agent }}</td>
    <td>{{ object.udt_date }}</td>
    <td>{{ object.udt_time }}</td>
    <td>{{ object.udt_agent }}</td>
    <td>{{ object.question_level }}</td>
    <td>{{ object.question_score }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'WebApp_omrquestioninfo_create' %}">Create new OmrQuestionInfo</a>
{% endblock %}