{% extends "base.html" %}
{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'questions' %}">Survey</a></li>
<li class="breadcrumb-item active" aria-current="page">Polls</li>
{% endblock %}

{% block content %}

<div class="clearfix"></div>

<div class="container">
    <div class="row">

        <div class="pollsContainer">
            <h2>Poll</h2>
            <hr>
            <h3>1. Why is JavaScript popular?</h3>
            <form>
                <ul style="list-style: none;">
                    <li>A. Versatile</li>
                    <li>B. Easy</li>
                    <li>C. Simpler</li>
                </ul>
            </form>
            <!-- <div class="pollButtons">
                <button type="button" id="submitButton" class="btn btn-info">Vote</button>
            </div> -->


            <!-- display: none;  -->
            <div class="bs-chart-container" id="progressResult" style="width: 80%;">
                <h4>Results:</h4>
                <div class="surveyResults">
                    <strong>Option A</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class>60% </span>
                        </div>
                    </div>
                    <strong>Option B</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                            <span class>15%</span>
                        </div>
                    </div>
                    <strong>Option C</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                            <span class>25% </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}