{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'qexampleinfo_list' %}">QExampleInfo Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>q_example</td>
    <td>q_example_correct</td>
    <td>q_example_idx</td>
    <td>use_flag</td>
    <td>reg_date</td>
    <td>reg_time</td>
    <td>reg_agent</td>
    <td>udt_date</td>
    <td>udt_time</td>
    <td>udt_agent</td>
    <td>q_example_type</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.q_example }}</td>
    <td>{{ object.q_example_correct }}</td>
    <td>{{ object.q_example_idx }}</td>
    <td>{{ object.use_flag }}</td>
    <td>{{ object.reg_date }}</td>
    <td>{{ object.reg_time }}</td>
    <td>{{ object.reg_agent }}</td>
    <td>{{ object.udt_date }}</td>
    <td>{{ object.udt_time }}</td>
    <td>{{ object.udt_agent }}</td>
    <td>{{ object.q_example_type }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'qexampleinfo_create' %}">Create new QExampleInfo</a>
{% endblock %}