{% extends "base.html" %}
{% load static %}
{% block content %}
    <p><a class="btn btn-default" href="{% url 'WebApp_questioninfo_list' %}">QuestionInfo Listing</a></p>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Link</td>
            <td>subject_code</td>
            <td>lecture_code</td>
            <td>chapter_code</td>
            <td>question_type</td>
            <td>question</td>
            <td>question_media_type</td>
            <td>question_media_file</td>
            <td>question_score</td>
            <td>question_head</td>
            <td>question_essay</td>
            <td>use_flag</td>
            <td>reg_date</td>
            <td>reg_time</td>
            <td>reg_agent</td>
            <td>udt_date</td>
            <td>udt_time</td>
            <td>udt_agent</td>
            <td>question_media_file2</td>
            <td>question_comment</td>
            <td>question_level</td>
            <td>teacher_contents</td>
            <td>student_contents</td>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td>{{ object.subject_code }}</td>
                <td>{{ object.lecture_code }}</td>
                <td>{{ object.chapter_code }}</td>
                <td>{{ object.question_type }}</td>
                <td>{{ object.question }}</td>
                <td>{{ object.question_media_type }}</td>
                <td>{{ object.question_media_file }}</td>
                <td>{{ object.question_score }}</td>
                <td>{{ object.question_head }}</td>
                <td>{{ object.question_essay }}</td>
                <td>{{ object.use_flag }}</td>
                <td>{{ object.reg_date }}</td>
                <td>{{ object.reg_time }}</td>
                <td>{{ object.reg_agent }}</td>
                <td>{{ object.udt_date }}</td>
                <td>{{ object.udt_time }}</td>
                <td>{{ object.udt_agent }}</td>
                <td>{{ object.question_media_file2 }}</td>
                <td>{{ object.question_comment }}</td>
                <td>{{ object.question_level }}</td>
                <td>{{ object.teacher_contents }}</td>
                <td>{{ object.student_contents }}</td>
            </tr>
        {% endfor %}
    </table><a class="btn btn-primary" href="{% url 'WebApp_questioninfo_create' %}">Create new QuestionInfo</a>
{% endblock %}