{% extends "base.html" %}
{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}

{% block content %}
<div class="clearfix"></div>


<div class="container" id="mainSurveyPage">

    <div class="row" id="surveyheader">
        <form>
            <div class="searchBarSurvey col-sm-5">
                <input type="search" placeholder="Survey...">
                <div class="pollButtons">
                    <button type="button" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>

        <div class="col-sm-7">
            <div class="btn-group" id="status" data-toggle="buttons">
                <label class="btn btn-default btn-on-3 btn-sm active">
                    <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Active</label>
                <label class="btn btn-default btn-off-3 btn-sm ">
                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">Expire</label>
            </div>
        </div>
    </div>
    <div class="hR"></div>
    <div class="col-md-12 col-lg-9">
        <div class="row" id="rowCards">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>1. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>4. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>2. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="questionLists ">
                    <div class="card">
                        <div class="card-body" style="width: 20rem;">
                            <h2 class="card-title "><strong>3. What is hadoop?</strong></h2>
                            <hr>
                            <h5 class="card-text text-justify">
                                <a href=" {% url 'polls' %}">
                                    <div class="pollButtons">
                                        <button type="button" class="btn btn-info">Text survey</button>
                                    </div>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 col-lg-3">
        <div class="categoryContainer">
            <div class="card" style="width: 20rem; height: 30rem;">
                <div class="card-body">
                    <h2 class="card-title "><strong>Category</strong></h2>
                    <hr>
                    <h5 class="card-text">
                        <a href="">General</a><button class="general btn btn-success" data-popup-open="popup-1"><a href="#">Add</a></button>
                    </h5>
                    <h5 class="card-text">
                        <a href="">Session</a><button class="session btn btn-success" data-popup-open="popup-1"><a href="#">Add</a></button>
                    </h5>
                    <h5 class="card-text">
                        <a href="">Course</a><button class="courseAdd btn btn-success" data-popup-open="popup-1"><a
                                href="#">Add</a></button>
                    </h5>
                    <h5 class="card-text">
                        <a href="">System</a><button class="system btn btn-success" data-popup-open="popup-1"><a href="#">Add</a></button>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" data-popup="popup-1">
        <div class="popup-inner ">
            <article class="index-form">
                <form id="popupForm">
                    <div class="label_inputs">

                        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <br>
                                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left"
                                            novalidate="">
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Title
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12">Start date<span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input id="start-date" class="date-picker form-control col-md-7 col-xs-12"
                                                        required="required" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12">End date<span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input id="end-date" class="date-picker form-control col-md-7 col-xs-12"
                                                        required="required" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group" id="chooseSession" style="display: none;">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Choose
                                                    Session
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <select id="inputState" class="form-control col-md-7 col-xs-12">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="chooseCourse" style="display: none;">
                                                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">Choose
                                                    Course
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <select id="inputState" class="form-control col-md-7 col-xs-12">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary control-label col-md-12 col-sm-3 col-xs-12"
                                                id="nextButton">Next</button>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="selectQuestionType" style="display: none;">
                                                        <div class="btn-group" id="switchButtons" data-toggle="buttons">
                                                            <label class="mcq_question btn btn-default btn-on btn-md active">
                                                                <input type="radio" value="1" name="multifeatured_module[module_id][switchButtons]"
                                                                    checked="checked">MCQ</label>
                                                            <label class="short_question btn btn-default btn-off btn-md ">
                                                                <input type="radio" value="0" name="multifeatured_module[module_id][switchButtons]">SAQ</label>
                                                        </div>

                                                        <div class="questionContainer">
                                                            <div id="mcq_que">
                                                                <div class="questionSection ">
                                                                    <label for="questions">Questions:</label>
                                                                    <button class="btn btn-success" id="newQuestion">+
                                                                        Questions</button>
                                                                </div>

                                                                <div class="optionContainer">
                                                                    <ul id="mySelect" style="list-style: none;">
                                                                    </ul>
                                                                </div>

                                                                <div class="row">
                                                                    <a href="">
                                                                        <div class="btn btn-info col-md-12 col-sm-12 ">Save</div>
                                                                    </a>
                                                                    <a href="">
                                                                        <div class="btn btn-primary col-md-12 col-sm-12 ">Save
                                                                            As New</div>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div id="short_que" style="display: none;">
                                                                <div class="queContainer">
                                                                    <div class="form-group ">
                                                                        <label for="questions">Questions:</label>
                                                                        <button class="btn btn-success"><a href="" id="addButtons">+
                                                                                Questions</a></button>
                                                                    </div>
                                                                    <div class="short_que_Container">
                                                                        <ul id="short_que_add" style="list-style: none;">
                                                                        </ul>
                                                                    </div>
                                                                    <div class="row">
                                                                        <a href="">
                                                                            <div class="btn btn-info col-md-12 col-sm-12 ">Save</div>
                                                                        </a>
                                                                        <a href="">
                                                                            <div class="btn btn-primary col-md-12 col-sm-12 ">Save
                                                                                As New</div>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group has-feedback">
                            <label for="id_Title" class="control-label col-md-3 col-sm-3 col-xs-12">
                                Title
                            </label>
                            <input type="text" value="" name="title" id="id_title" required="required" class="form-control has-feedback-left"
                                placeholder="Title">
                            <span class="fa fa-paragraph form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="form-group " id="chooseSession" style="display: none;">
                            <label for="inputState">Choose Session</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group " id="chooseCourse" style="display: none;">
                            <label for="inputState">Choose Course</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div> -->
                        <!-- <div class="form-group has-feedback">
                                            <label for="id_name" class="control-label ">
                                                Name
                                            </label>
                                            <input type="text" value="" name="name" id="id_name" required="required"
                                                class="form-control has-feedback-left" placeholder="Name">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div> -->

                        <!-- <div class="form-group has-feedback">
                            <label for="id_Start_date" class="control-label col-md-3 col-sm-3 col-xs-12">
                                Start date
                            </label>
                            <input type="date" name="Start_date" value="" id="Start_date" required="required" class="form-control has-feedback-left">
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="id_End_date" class="control-label col-md-3 col-sm-3 col-xs-12">
                                End date
                            </label>
                            <input type="date" name="End_date" value="" id="id_End_date" required="required" class="form-control has-feedback-left">
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div> -->

                        <!-- <div class="form-group has-feedback">
                                            <label for="id_Survery_Cover" class="control-label ">
                                                Survey cover
                                            </label>
                                            <input type="file" name="Survery_Cover" value="" id="id_Survery_Cover"
                                                class="form-control has-feedback-left" placeholder="Survery Cover">
                                            <span class="fa fa-image form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <label> Status</label><br>
                                        <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag"><br> -->


                    </div>
                </form>
            </article>
        </div>


    </div>
</div>

{% endblock %}