{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'questioninfo_list' %}">Question</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Question_Title }}</li>
{% endblock %}
{% block content %}
    <div class="outerdiv">

        <h2 class="detailListHeader">Assignment Information</h2>
        <hr class="header_hr">
        <br>
        <table class="table">
            <tr>
                <td>Question Title</td>
                <td>{{ object.Question_Title }}</td>
            </tr>
            <tr>
                <td>Question Score</td>
                <td>{{ object.Question_Score }}</td>
            </tr>
            <tr>
                <td>Question Description</td>
                <td>{{ object.Question_Description }}</td>
            </tr>
            <tr>
                <td>Question Media File</td>
                <td>{{ object.Question_Media_File }}</td>
            </tr>
            <tr>
                <td>Lecture Code</td>
                <td>{{ object.Lecture_Code }}</td>
            </tr>
            <tr>
                <td>Chapter Code</td>
                <td>{{ object.Chapter_Code }}</td>
            </tr>
            <tr>
                <td>Register Agent</td>
                <td>{{ object.Register_Agent }}</td>
            </tr>
            <tr>
                <td>Use Flag</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>

        </table>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Assignment</a>
            <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete Assignment</a>
        </div>
    </div>
{% endblock %}