{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_quizexampleinfo_list' %}">QuizExampleInfo Listing</a></p>
<table class="table">
<tr><td>quiz_code</td><td>{{ object.quiz_code }}</td></tr>
<tr><td>quiz_example</td><td>{{ object.quiz_example }}</td></tr>
<tr><td>quiz_example_correct</td><td>{{ object.quiz_example_correct }}</td></tr>
<tr><td>quiz_example_idx</td><td>{{ object.quiz_example_idx }}</td></tr>
<tr><td>use_flag</td><td>{{ object.use_flag }}</td></tr>
<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>
<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>
<tr><td>reg_agent</td><td>{{ object.reg_agent }}</td></tr>
<tr><td>udt_date</td><td>{{ object.udt_date }}</td></tr>
<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>
<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>
<tr><td>quiz_example_type</td><td>{{ object.quiz_example_type }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit QuizExampleInfo</a>

{% endblock %}