{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'WebApp_quizinfo_list' %}">QuizInfo Listing</a></p>
<table class="table">
<tr><td>subject_code</td><td>{{ object.subject_code }}</td></tr>
<tr><td>lecture_code</td><td>{{ object.lecture_code }}</td></tr>
<tr><td>chapter_code</td><td>{{ object.chapter_code }}</td></tr>
<tr><td>quiz_type</td><td>{{ object.quiz_type }}</td></tr>
<tr><td>quiz_question</td><td>{{ object.quiz_question }}</td></tr>
<tr><td>quiz_media_type</td><td>{{ object.quiz_media_type }}</td></tr>
<tr><td>quiz_media_file</td><td>{{ object.quiz_media_file }}</td></tr>
<tr><td>quiz_score</td><td>{{ object.quiz_score }}</td></tr>
<tr><td>quiz_comment</td><td>{{ object.quiz_comment }}</td></tr>
<tr><td>use_flag</td><td>{{ object.use_flag }}</td></tr>
<tr><td>reg_date</td><td>{{ object.reg_date }}</td></tr>
<tr><td>reg_time</td><td>{{ object.reg_time }}</td></tr>
<tr><td>reg_agent</td><td>{{ object.reg_agent }}</td></tr>
<tr><td>udt_date</td><td>{{ object.udt_date }}</td></tr>
<tr><td>udt_time</td><td>{{ object.udt_time }}</td></tr>
<tr><td>udt_agent</td><td>{{ object.udt_agent }}</td></tr>
<tr><td>quiz_head</td><td>{{ object.quiz_head }}</td></tr>
<tr><td>quiz_media_file2</td><td>{{ object.quiz_media_file2 }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit QuizInfo</a>

{% endblock %}