{% extends "base.html" %}
{% load i18n %}


{% load static %}
{% block stylesheets %}

<!-- <link rel="stylesheet" href="{% static 'css/forum.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/forum.app.css' %}" />

{% endblock stylesheets %}



{% block content %}









<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'forum:index' %}">
                <h1>forum</h1>
            </a></li>
    </ul>
</div>
<!-- 
<form class="navbar-form navbar-left" role="search" action="{% url 'forum:search_redirect' %}">
    <div class="form-group">
        <input type="text" id="keywordInput" name="keyword" class="form-control" placeholder="{% trans 'Search' %}">
    </div>
    <button type="submit" id="navSearchBtn" class="btn btn-default">{% trans 'Search' %}</button>
</form> -->

<br> <br>


<div class="row">
    <div class="col-md-8 col-lg-9">
        {% block main_contain %}
        {% endblock %}
        <div>
            {% block left %}{% endblock %}
        </div>

    </div>

    <div class="st-pusher" id="content">
        <div class="col-md-4 col-lg-3">

            <div class="profile">
                {% block widget_before %}{% endblock %}
                {% if request.user.is_authenticated %}
                {% include 'forum/widgets/authenticated_user_panel.html' %}
                {% else %}
                {% include 'forum/widgets/visitor_user_panel.html' %}
                {% endif %}

                {% block widget_after %}{% endblock %}
            </div>

            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="form-group form-control-material">
                        <div class="form-group form-control-material">
                            <form role="search" action="{% url 'forum:search_redirect' %}">
                                <div class="form-group">
                                    <input type="text" id="keywordInput" name="keyword" class="form-control"
                                        placeholder="sushant">
                                    <label for="keyword">Search. . </label>
                                </div>
                                <button type="submit" id="navSearchBtn" class="btn btn-inverse paper-shadow relative"
                                    data-z="0.5" data-hover-z="1">{% trans 'Search' %}</button>
                            </form>
                        </div>
                    </div>
                </div>



            </div>






            <div class="panel panel-default">
                <div class="panel-heading">

                    <span class="glyphicon glyphicon-gift left" aria-hidden="true"></span>
                    <h4>Notification</h4>

                </div>
                <ul class="list-group list-group-menu">

                    <a class="text-success" href="{% url 'forum:notifications' %}">
                        {% if unread_count %}

                        {% blocktrans count unread_count=unread_count %}
                        {{ unread_count }} new notification
                        {% plural %}
                        {{ unread_count }} new notifications
                        {% endblocktrans %}
                        {% else %}
                        <span class="text-muted">{% trans 'No new nofitications' %}</span>
                        {% endif %}
                    </a>

                </ul>


            </div>






            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Categories</h4>
                </div>
                <ul class="list-group list-group-menu">
                    <li class="list-group-item active">
                        <a href="website-forum.html"><i class="fa fa-chevron-right fa-fw"></i> All</a>
                    </li>
                    <li class="list-group-item">
                        <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> General</a>
                    </li>
                    <li class="list-group-item">
                        <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> Lessons</a>
                    </li>
                    <li class="list-group-item">
                        <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> Support</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#navSearchBtn').click(function (e) {
            e.preventDefault();
            var keyword = $('#keywordInput').val();
            if (keyword) {
                window.location = "/search/" + keyword + "/"; // FIXME: Use url tag!
            }
        });
    });
</script>
{% endblock %}