{% extends 'forum/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li class="breadcrumb-item active"><a href="{% url 'forum:create_topic' %}"> Create SubCategory</a>
</li>

{% endblock %}


{% block main_contain %}
<div class="panel panel-default paper-shadow" data-z="2">
    <div class="panel-body">

        <form method="post" action="{% url 'forum:create_topic' %}">
            {% csrf_token %}

            <div class="x-title">
                <h2 align="center">Create SubCategory</h2>

            </div>
            <div class="ln_solid"></div>

            {% if not node_group %}
            <div id="div_id_node_group" class="form-group"><label for="id_node_group"
                    class="control-label  requiredField">
                    Category<span class="asteriskField">*</span> </label>
                <div class="controls "><select name="node_group" id="id_node_group" required=""
                        class="select form-control">
                        <option value="" selected="">---------</option>
                        {% for c in form.fields.node_group.queryset %}
                        <option value="{{ c.id|capfirst }}">{{ c }}</option>
                        {% endfor %}
                    </select></div>
            </div>
            {% else %}
            <div id="div_id_node_group" class="form-group">
                <label for="id_node_group" class="control-label  requiredField">
                    Category<span class="asteriskField">*</span> </label>
                <input type="text" value="{{ node_group.0.title }}" required="" class="textinput textInput form-control"
                    maxlength="30" readonly>
                <input name="node_group" id="id_node_group" required="" value="{{ node_group.0.pk }}" hidden>
            </div>
            {% endif %}
            <div id="div_id_title" class="form-group"><label for="id_title" class="control-label  requiredField">
                    Title<span class="asteriskField">*</span> </label>
                <div class="controls "><input type="text" name="title" id="id_title" required=""
                        class="textinput textInput form-control" maxlength="30"></div>
            </div>
            <div id="div_id_description" class="form-group"><label for="id_description" class="control-label ">
                    Description
                </label>
                <div class="controls "> <textarea name="description" cols="40" id="id_description" rows="10"
                        class="textarea form-control"></textarea></div>
            </div>
            <div id="div_id_topic_icon" class="form-group"><label for="id_topic_icon"
                    class="control-label  requiredField">
                    Topic Icon<span class="asteriskField">*</span> </label>
                <div class="controls "><input type="text" name="topic_icon" id="id_topic_icon" required=""
                        class="textinput textInput form-control" maxlength="30"></div>
            </div>
            <div class="form-group">
                <div class="controls "><input type="submit" name="submit" value="Submit" class="btn btn-primary"
                        id="submit-id-submit"></div>
            </div>

        </form>
    </div>
</div>
{% endblock %}