{% extends 'forum/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<ol aria-label="breadcrumb" class="breadcrumb navClass">

    <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'forum:create_thread' %}"> Create Thread</a>
    </li>
</ol>
{% endblock %}


{% block main_contain %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ topic }}
        <form method="post" action="{% url 'forum:create_thread' %}">
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}