{% extends 'forum/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}


    <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
    <li class="breadcrumb-item active"><a href="{% url "forum:edit_topic" pk=form.instance.pk %}"> Edit Topic</a>
    </li>

{% endblock %}

{% block main_contain %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="{% url "forum:edit_topic" pk=form.instance.pk %}">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}