{% extends 'forum/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}


<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li class="breadcrumb-item active"><a href="{% url 'forum:edit_thread' pk=form.instance.pk %}"> Edit Thread</a>
</li>

{% endblock %}

{% block main_contain %}
<div class="panel-body topic_create" data-z="0.5">
    <form method="post" action="{% url 'forum:edit_thread' pk=form.instance.pk %}">
        {% csrf_token %}

        <input type="hidden" name="csrfmiddlewaretoken">
        <div id="div_id_content_raw" class="form-group"> <label for="id_content_raw"
                class="control-label  requiredField">
                Content<span class="asteriskField">*</span> </label>
            <div class="controls "> <textarea name="content_raw" class="textarea form-control" cols="40" rows="10"
                    required="" id="id_content_raw" spellcheck="false">Iste est assumenda f</textarea> </div>
        </div>
        <div class="form-group">
            <div class="controls "> <input type="submit" name="submit" value="Submit" class="btn btn-primary"
                    id="submit-id-submit"> </div>
        </div>
    </form>
</div>

{% endblock %}