{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}



{% block main_contain %}


{% block before_main_left %}{% endblock %}



<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    {% for nodegroup in node_groups %}
                    <a href="{% url 'forum:nodegroup' nodegroup.pk %}"></a>
                    <h4 class="text-headline margin-none">
                        <a href="{% url 'forum:nodegroup' nodegroup.pk %}">{{ nodegroup.title }}</a></h4>
                    {% endfor %}

                </div>
                <div class="media-right">
                    <a class="btn btn-white btn-flat" href="{% url 'forum:create_topic'%}"><i
                            class="fa fa-fw fa-plus"></i> New
                        Topic</a>
                </div>
                <div class="media-right">
                    <a class="btn btn-white btn-flat" href="{% url 'forum:create_thread'%}"><i
                            class="fa fa-fw fa-plus"></i>
                        New
                        Thread</a>
                </div>


            </div>
        </li>
        {% for thread in threads %}
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>

            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="{% url 'forum:thread' pk=thread.pk %}" class="link-text-color">{{thread.title}}</a>
                </h4>



                <div class="text-light text-caption">
                    {% for nodegroup in node_groups %}
                    <a href="{% url 'forum:nodegroup' nodegroup.pk %}">{{ nodegroup.title }}</a> |
                    {% endfor %}

                    {% for topic in topics %}
                    <a href="{% url 'forum:topic' pk=topic.pk %}">{{ topic.title }}</a>
                    {% endfor %}


                    posted by
                    <a href="#">
                        <img src="/media/{{ request.user.Member_Avatar }}" class="img-circle width-20">
                        {{ thread.user.username }}</a>
                    &nbsp; | <i class="fa fa-clock-o fa-fw"></i> {{ thread.pub_date }}

                </div>

            </div>


            <div class="media-right">
                <a href="{% url 'forum:thread' pk=thread.pk %}" class="btn btn-white text-light"><i
                        class="fa fa-comments fa-fw"></i>
                    {{ thread.reply_count }}</a>
            </div>


        </li>
        {% endfor %}

</div>
<br>


{% endblock %}