{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}

{% block breadcrumb %}


<li class="active"><a href="{% url 'forum:index' %}">Forum</a></li>

{% endblock %}

{% block main_contain %}


<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h2 class="text-headline margin-none" style="color:#368BC1">
                        Recent Threads
                    </h2>


                </div>
                {% if request.user.is_authenticated %}
                {% if not request.user.Is_Student %}
                <div class="media-right">
                    <a class="btn btn-white btn-flat" href="{% url 'forum:create_topic' %}"><i
                            class="fa fa-fw fa-plus"></i> Sub Category
                    </a>
                </div>
                {% endif %}
                <div class="media-right">
                    <a class="btn btn-white btn-flat" href="{% url 'forum:create_thread' %}"><i
                            class="fa fa-fw fa-plus"></i>
                        Ask New Question</a>
                </div>
                {% endif %}


            </div>
        </li>



        {% for nodegroup in node_groups %}

        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <a href="{% url 'forum:nodegroup' nodegroup.pk %}"></a>
                    <h6 class="text-headline margin-none">
                        <a href="{% url 'forum:nodegroup' nodegroup.pk %}"
                            class="link-text-color">{{ nodegroup.title }}</a>
                    </h6>


                </div>


            </div>
        </li>


        <div class="paper-shadow" data-z="0.5" style="margin-top: -15px">
            {% for thread in threads %}
            {% if thread.topic.node_group == nodegroup %}
            <li class="list-group-item media v-middle">
                <div class="media-left">
                    <div class="icon-block half img-circle bg-grey-300">
                        <i class="fa fa-{{ thread.topic.topic_icon }}"></i>
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="text-subhead margin-none thread_title">
                        <a href="{% url 'forum:thread' pk=thread.pk %}" class="link-text-color">{{ thread.title }}</a>
                    </h4>


                    <div class="text-light text-caption">
                        Category:
                        <a href="{% url 'forum:nodegroup' thread.topic.node_group.pk %}"
                            class="link-text-color">{{ thread.topic.node_group.title }}</a>
                        |

                        Sub Category:
                        <a href="{% url 'forum:topic' pk=thread.topic.pk %}"
                            class="link-text-color">{{ thread.topic.title }}</a>


                        <br>
                        posted by
                        <a href="{% url 'forum:user_info' pk=thread.user.pk %}" class="link-text-color">
                            <img src="/media/{{ thread.user.Member_Avatar }}" class="img-circle width-20">
                            {{ thread.user.username }}</a>
                        | <i class="fa fa-clock-o fa-fw"></i> {{ thread.pub_date }} |
                        <span>{% blocktrans with view_count=thread.view_count %}
                            <i class="fa fa-eye"></i>
                            viewed
                            {{ view_count }}
                            times{% endblocktrans %}</span>&nbsp;
                        |<i class="fa fa-clock-o fa-fw"></i> Last Replied: {{ thread.last_replied }}


                    </div>

                </div>


                <div class="media-right">
                    <a href="{% url 'forum:thread' pk=thread.pk %}" class="btn btn-white text-light"><i
                            class="fa fa-comments fa-fw"></i>
                        {{ thread.reply_count }}</a>
                </div>



                {% endif %}
                {% endfor %}



            </li>
        </div>



        {% endfor %}

    </ul>
    <div class="clearfix"></div>
</div>

{% endblock %}