{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}


{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
    <li class="active">Search</li>

{% endblock %}

{% block main_contain %}







    <div class="panel panel-default paper-shadow" data-z="0.5">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="media v-middle">
                    <div class="media-body">
                        <h2 class="text-headline margin-none" style="color:#368BC1">
                            Search Results
                        </h2>


                    </div>


                </div>
            </li>


            {% if threads %}
{#                {% for nodegroup in node_groups %}#}

                    <li class="list-group-item">

                    </li>


                    <div class="paper-shadow" data-z="0.5" style="margin-top: -15px">
                        {% for thread in threads %}
{#                            {% if thread.topic.node_group == nodegroup %}#}
                                <li class="list-group-item media v-middle">
                                <div class="media-left">
                                    <div class="icon-block half img-circle bg-grey-300">
                                        <i class="fa fa-{{ thread.topic.topic_icon }}"></i>
                                    </div>
                                </div>

                                <div class="media-body">
                                    <h4 class="text-subhead margin-none thread_title">
                                        <a href="{% url 'forum:thread' pk=thread.pk %}"
                                           class="link-text-color">{{ thread.title }}</a>
                                    </h4>


                                    <div class="text-light text-caption">
                                        Category:
                                        <a href="{% url 'forum:nodegroup' thread.topic.node_group.pk %}"
                                           style="color:blue">{{ thread.topic.node_group.title }}</a>
                                        |

                                        Topic:
                                        <a href="{% url 'forum:topic' pk=thread.topic.pk %}"
                                           style="color:blue">{{ thread.topic.title }}</a>
                                        | <i class="fa fa-clock-o fa-fw"></i> {{ thread.pub_date }}

                                        <br>
                                        posted by
                                        <a href="{% url 'forum:user_info' pk=thread.user.pk %}" style="color:blue">
                                            <img src="/media/{{ thread.user.Member_Avatar }}"
                                                 class="img-circle width-20">
                                            {{ thread.user.username }}</a>
                                        |<span>{% blocktrans with view_count=thread.view_count %}
                                        <i class="fa fa-eye"></i>
                                        viewed
                                        {{ view_count }}
                                        times{% endblocktrans %}</span>&nbsp;
                                        |<i class="fa fa-clock-o fa-fw"></i> Last Replied: {{ thread.last_replied }}


                                    </div>

                                </div>


                                <div class="media-right">
                                    <a href="{% url 'forum:thread' pk=thread.pk %}" class="btn btn-white text-light"><i
                                            class="fa fa-comments fa-fw"></i>
                                        {{ thread.reply_count }}</a>
                                </div>



{#                            {% endif %}#}
                        {% endfor %}



                        </li>
                    </div>



{#                {% endfor %}#}
            {% else %}
                <li class="list-group-item">
                    <div class="media v-middle">
                        <div class="media-body">

                            <h6 class="text-headline margin-none">
                                No Results Found
                            </h6>


                        </div>


                    </div>
                </li>

            {% endif %}

        </ul>
    </div>



{% endblock %}