{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block breadcrumb %}


<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li class="breadcrumb-item">
    <a href="{% url 'forum:nodegroup' pk=thread.topic.node_group.pk %}">{{ thread.topic.node_group.title }}</a>
</li>
<li class="breadcrumb-item active"><a href="{% url 'forum:topic' pk=thread.topic.pk %}">{{ thread.topic.title }}</a>
</li>

{% endblock %}


{% block main_contain %}

<!-- List group -->



<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ thread.topic.node_group }} </h2>
            <div class="top_button ">


                {% if request.user == thread.user %}
                <a href="{% url 'forum:edit_thread' pk=thread.pk %}"><span class="btn btn-sm btn-primary"><i
                            class="fa fa-edit"></i> {% trans 'Edit' %} </span></a>
                {% endif %}


                {% if request.user.is_superuser %}
                {#                                <a href="#" class="moderate-action move-thread-up" data-toggle="modal"#}
                {#                                    data-target="#moderation-modal" data-pk="{{ thread.pk }}"#}
                {#                                    data-action="move-thread-up"#}
                {#                                    data-api-url="{% url 'forum:thread-detail' thread.pk %}">#}
                {#                                    <span class="btn btn-primary btn-xs"><i class="fa fa-chevron-up"></i> Up </span>#}
                {#                                </a>#}
                {% if thread.closed %}
                <a href="#" class="moderate-action open-thread" data-toggle="modal" data-target="#moderation-modal"
                    data-pk="{{ thread.pk }}" data-action="open-thread"
                    data-api-url="{% url 'forum:thread-detail' thread.pk %}">
                    <span class="btn btn-info btn-xs"><i class="fa fa-close"></i> Open </span>
                </a>
                {% else %}
                <a href="#" class="moderate-action close-thread" data-toggle="modal" data-target="#moderation-modal"
                    data-pk="{{ thread.pk }}" data-action="close-thread"
                    data-api-url="{% url 'forum:thread-detail' thread.pk %}">
                    <span class="btn btn-info btn-xs">
                        <i class="fa fa-folder-open-o"></i> Close </span>
                </a>
                {% endif %}
                {% if thread.hidden %}
                <a href="#" class="moderate-action hide-thread" data-toggle="modal" data-target="#moderation-modal"
                    data-pk="{{ thread.pk }}" data-action="unhide-thread"
                    data-api-url="{% url 'forum:thread-detail' thread.pk %}">
                    <span class="btn btn-danger btn-xs"><i class="fa fa-eye-slash"></i> UnHide </span>
                </a>
                {% else %}
                <a href="#" class="moderate-action hide-thread" data-toggle="modal" data-target="#moderation-modal"
                    data-pk="{{ thread.pk }}" data-action="hide-thread"
                    data-api-url="{% url 'forum:thread-detail' thread.pk %}">
                    <span class="btn btn-danger btn-xs"><i class="fa fa-eye-slash"></i> Hide </span>
                </a>
                {% endif %}

                {% endif %}




            </div>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="{% url 'forum:topic' pk=thread.topic.pk %}" class="tag">
                                <span>{{ thread.topic.title }}</span>
                            </a>

                        </div>
                        <div class="block_content">
                            <h3 class="title">
                                {{ thread.title }}

                            </h3>



                            <div class="byline">



                                posted by <a href="{% url 'forum:user_info' pk=thread.user.pk %}"
                                    class="link-text-color">
                                    <img src="/media/{{ thread.user.Member_Avatar }}" class="img-circle width-20">
                                    {{ thread.user.username }}</a>
                                <span>{{ thread.pub_date }}</span>
                                |
                                <span>{% blocktrans with view_count=thread.view_count %} <i class="fa fa-eye"></i>
                                    viewed
                                    {{ view_count }}
                                    times{% endblocktrans %}</span> | <span>{% if thread.reply_count %}
                                    {% blocktrans count reply_count=thread.reply_count %}{{ reply_count }} Reply
                                    {% plural %}{{ reply_count }} Replies{% endblocktrans %}
                                    {% else %}
                                    {% trans "No Replies" %}
                                    {% endif %}
                                </span>
                            </div>
                            <h3 class="thread_answer">
                                <p>{{ thread.content_raw | safe }}</p>
                            </h3>

                            <ul class="list-comment reply-lists">

                                <h2 class="thread_replies">
                                    <i class="fa fa-comments-o"></i>
                                    Comments </h2>
                                <hr>

                                {% for post in posts %}

                                <li class="list-group-reply reply-item">


                                       <div class="thread-meta row">

                                        <div class="">
                                            <div class="reply-content">
                                                <!-- <div class="profile_pic_forum"> -->
                                                <img src="/media/{{ post.user.Member_Avatar }}" alt="..." />
                                                <!-- </div> -->
                                                <a href="{% url 'forum:user_info' post.user_id %}">{{ post.user }}</a>

                                            </div>
                                            <div class="reply-content-detail">


                                                <span> {{ post.content_raw | safe }} </span>
                                            </div>






                                        </div>
                                    </div>
                                    <br>
                                    <div class="left">
                                        <span>{{ post.pub_date | naturaltime }}</span> <br>
                                        <p class="reply-link">
                                            <a href="#" data-username="{{ post.user.username }}" class="reply-to"
                                                style="color: darkblue">{% trans "Reply" %}</a>
                                        </p>
                                    </div>
                                    <div class="top_button">

                                        {% if request.user.is_superuser %}
                                        {% if not post.hidden %}

                                        <a href="#" class="moderate-action hide-reply" data-toggle="modal"
                                            data-target="#moderation-modal" data-pk="{{ thread.pk }}"
                                            data-action="hide-reply"
                                            data-api-url="{% url 'forum:post-detail' post.pk %}">

                                            <p class="moderation-links">

                                                <span class="btn btn-danger btn-xs"><i class="fa fa-eye-slash"></i>
                                                    Hide </span>

                                            </p>

                                        </a>

                                        {% else %}

                                        <a href="#" class="moderate-action hide-reply" data-toggle="modal"
                                            data-target="#moderation-modal" data-pk="{{ thread.pk }}"
                                            data-action="unhide-reply"
                                            data-api-url="{% url 'forum:post-detail' post.pk %}">
                                            <div class="hide_button">
                                                <p class="moderation-links">

                                                    <span class="btn btn-danger btn-xs"><i class="fa fa-eye-slash"></i>
                                                        UnHide </span>

                                                </p>
                                            </div>
                                        </a>

                                        {% endif %}

                                        {% endif %}


                                    </div>

                                </li>
                                {% endfor %}
                            </ul>

                            <br>
                            {% if request.user.is_authenticated %}
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="font-weight: bold">Post Reply

                                    </h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="alerts"></div>
                                    <div class="btn-toolbar editor" data-role="editor-toolbar"
                                        data-target="#editor-one">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                                                    class="fa fa-font"></i><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                                    class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a data-edit="fontSize 5">
                                                        <p style="font-size:17px">Huge</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 3">
                                                        <p style="font-size:14px">Normal</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 1">
                                                        <p style="font-size:11px">Small</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                                    class="fa fa-bold"></i></a>
                                            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                                    class="fa fa-italic"></i></a>
                                            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i
                                                    class="fa fa-strikethrough"></i></a>
                                            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                                    class="fa fa-underline"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                                                    class="fa fa-list-ul"></i></a>
                                            <a class="btn" data-edit="insertorderedlist" title="Number list"><i
                                                    class="fa fa-list-ol"></i></a>
                                            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                                    class="fa fa-dedent"></i></a>
                                            <a class="btn" data-edit="indent" title="Indent (Tab)"><i
                                                    class="fa fa-indent"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                                    class="fa fa-align-left"></i></a>
                                            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                                    class="fa fa-align-center"></i></a>
                                            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                                    class="fa fa-align-right"></i></a>
                                            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                                    class="fa fa-align-justify"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                                                    class="fa fa-link"></i></a>
                                            <div class="dropdown-menu input-append">
                                                <input class="span2" placeholder="URL" type="text"
                                                    data-edit="createLink" />
                                                <button class="btn" type="button">Add</button>
                                            </div>
                                            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i
                                                    class="fa fa-cut"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" title="Insert picture (or just drag & drop)"
                                                id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                                                data-edit="insertImage" />
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                                                    class="fa fa-undo"></i></a>
                                            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                                                    class="fa fa-repeat"></i></a>
                                        </div>
                                    </div>

                                    <div id="editor-one" class="editor-wrapper"></div>

                                    <textarea name="content_raw" id="id_content_raw" style="display:none;"></textarea>
                                </div>


                            </div>

                            <div class="form-group">
                                <div class="controls "><input type="submit" name="submit" value="Submit"
                                        class="btn btn-sm btn-primary" id="submitButton"></div>
                            </div>
                            </form>
                            {% endif %}

                        </div>
                    </div>


                </li>


            </ul>
        </div>
    </div>
</div>


{% endblock %}

{#{% block widget_after %}#}
{#    {% include 'forum/widgets/topic_info.html' %}#}
{#{% endblock %}#}

{% block footer_ext %}
<script>
    $(document).ready(function () {
        $('.reply-to').click(function (e) {
            e.preventDefault();
            var box = $("#reply-content-input, #id_content_raw");
            box.val(box.val() + "@" + $(this).data('username') + "\n");
        });
    });
</script>
{% if request.user.is_superuser %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.12.0/babel.min.js"></script>
<div id="moderation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning modal-confirm">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/babel">
            let patchthread = function (url, data) {
                $.ajax({
                    dataType: 'json',
                    method: 'PATCH',
                    url: url,
                    data: data,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (arg) {


                    }
                }).done((r) => {
                    {#console.log(r);#}
                    {#$('#moderation-modal').find('.modal-body').html(`<p class="text-success">{% trans 'Operation successful' %}</p>`);#}
                    location.reload();
                }).fail((xhr, status, error) => {
                    $('#moderation-modal').find('.modal-body').html(`<p class="text-danger">${status}</p>`);
                    console.log(xhr.responseText);
                    console.log(error);
                }).always(() => {
                    $('.modal-confirm').hide();
                    $('#moderation-modal').hide();

                });
            };
            $('#moderation-modal').on('show.bs.modal', function (event) {
                $('.modal-confirm').show();
                let button = $(event.relatedTarget);
                let recipient = button.data('whatever');
                let modal = $(this);
                let modalTitle;
                let modalBody;
                let modalCb;
                switch (button.data('action')) {
                    case 'move-thread-up':
                        modalTitle = '{% trans 'Stick to Top' %}';
                        modalBody = `<form>
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">{% trans 'Level (1 - Highest)' %}:</label>
                                <select class="form-control" name="move-thread-up-level">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>{% trans "Don't stick to stop" %}</option>
                                </select>
                              </div>
                            </form>`;
                        modalCb = () => {
                            let level = $('select[name="move-thread-up-level"]').val();
                            if (level === "{% trans "Don't stick to stop" %}") {
                                level = 10
                            } else {
                                level = parseInt(level)
                            }
                            patchthread(
                                button.data('api-url'), {order: level}
                            )
                        };
                        break;
                    case 'open-thread':
                        modalTitle = "{% trans 'Open thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {closed: false});
                        };
                        break;
                    case 'close-thread':
                        modalTitle = "{% trans 'Close thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {closed: true});
                        };
                        break;
                    case 'hide-thread':
                        modalTitle = "{% trans 'Hide thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: true});
                        };
                        break;
                    case 'hide-reply':
                        modalTitle = "{% trans 'Hide Reply' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: true});
                        };
                        break;
                    case 'unhide-reply':
                        modalTitle = "{% trans 'Hide Reply' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: false});
                        };
                        break;
                    case 'unhide-thread':
                        modalTitle = "{% trans 'UnHide thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: false});
                        };
                        break;
                    default:
                        modalTitle = modalBody = modalCb = '';
                }
                modal.find('.modal-confirm').click(modalCb);
                modal.find('.modal-title').text(modalTitle);
                modal.find('.modal-body').html(modalBody);
            })


    $("#submitButton").click(function () {
        $('#id_content_raw').val($('.editor-wrapper').html());
        var content_raw = document.getElementById("id_content_raw").value
        var data = { "content_raw": content_raw, "user": {{ request.user.pk }}, "thread": {{ thread.pk }} };



    console.log(data);

    $.ajax({
        url: '/forum/api/v1/post/',
        type: 'POST',
        data: data,
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        success: function (arg) {
            // alert("data entry success" + Session_Code + " " + Course_Code);
        }
    }).done(function (server_data) {
        console.log(server_data)
        location.reload();
    }).fail(function (res) {
        console.log(res);
        console.log("failed");
        alert('data entry failed');
    });


    });



</script>
{% endif %}

{% endblock %}