{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Home</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'forum:nodegroup' pk=thread.topic.node_group.pk %}">{{ thread.topic.node_group.title }}</a>
    </li>
    <li class="breadcrumb-item active"><a href="{% url 'forum:topic' pk=thread.topic.pk %}">{{ thread.topic.title }}</a>
    </li>
</ol>
{% endblock %}

{% block left %}

<!-- List group -->








<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ thread.topic.node_group }} </h2>
            <div class="top_button ">


                {% if request.user == thread.user %}
                <a href="{% url 'forum:edit_thread' pk=thread.pk %}"><span
                        class="label label-success">{% trans 'Edit' %}</span></a>
                {% endif %}


            </div>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="{% url 'forum:topic' pk=thread.topic.pk %}" class="tag">
                                <span>{{ thread.topic.title }}</span>
                            </a>

                        </div>
                        <div class="block_content">


                            <div class="top_button">
                                {% if request.user.is_superuser %}
                                <a href="#" class="moderate-action move-thread-up" data-toggle="modal"
                                    data-target="#moderation-modal" data-pk="1" data-action="move-thread-up"
                                    data-api-url="/forum/api/threads/1/">
                                    <span class="label label-success">Up</span>
                                </a>

                                <a href="#" class="moderate-action close-thread" data-toggle="modal"
                                    data-target="#moderation-modal" data-pk="1" data-action="close-thread"
                                    data-api-url="/forum/api/threads/1/">
                                    <span class="label label-warning">Close</span>
                                </a>

                                <a href="#" class="moderate-action hide-thread" data-toggle="modal"
                                    data-target="#moderation-modal" data-pk="1" data-action="hide-thread"
                                    data-api-url="/forum/api/threads/1/">
                                    <span class="label label-danger">Hide</span>
                                </a>
                                {% endif %}
                            </div>
                            <div>
                                <!-- <div class="profile_pic_forum">
                                    <img src="/media/{{ thread.user.Member_Avatar }}" alt="..." />
                                </div> -->

                                <h3 class="thread-title"><a>{{ thread.title }}</a></h3>
                            </div>


                            <div class="byline">
                                <span>{{ thread.pub_date }}</span> by <a
                                    href="{% url 'forum:user_info' request.user.pk %}">{{ thread.user.username }}</a> |
                                <span>{% blocktrans with view_count=thread.view_count %} <i class="fa fa-eye"></i>viewed
                                    {{ view_count }}
                                    times{% endblocktrans %}</span> | <span>{% if thread.reply_count %}
                                    {% blocktrans count reply_count=thread.reply_count %}{{ reply_count }} Reply
                                    {% plural %}{{ reply_count }} Replies{% endblocktrans %}
                                    {% else %}
                                    {% trans "No Replies" %}
                                    {% endif %}
                                </span>
                            </div>
                            <h5>
                                <p class="excerpt">{{ thread.content_rendered | safe }}
                            </h5>
                            <ul class="list-group reply-list">
                                {% for post in posts %}
                                <li class="list-group-item reply-item">
                                    <div class="thread-meta row">

                                        <div class="col-xs-9 col-sm-10" id="comment-section">
                                            <div class="reply-content">
                                                <div class="profile_pic_forum">
                                                    <img src="/media/{{ post.user.Member_Avatar }}" alt="..." />
                                                </div>
                                                <div class="reply-content-detail">
                                                    <a
                                                        href="{% url 'forum:user_info' post.user_id %}">{{ post.user }}</a>
                                                    <br />
                                                    <span>{{ post.pub_date | naturaltime }}</span>
                                                </div>

                                            </div>


                                            <div class="chat-reply">
                                                -{{ post.content_rendered | safe }}

                                            </div>


                                        </div>
                                    </div>

                                    <p class="reply-link">
                                        <a href="#" data-username="{{ post.user.username }}"
                                            class="reply-to">{% trans "Reply" %}</a>
                                    </p>
                                    {% if request.user.is_superuser %}
                                    <hr>
                                    <p class="moderation-links">
                                        <a href="#" class="moderate-action hide-reply" data-toggle="modal"
                                            data-target="#moderation-modal" data-pk="{{ thread.pk }}"
                                            data-action="hide-reply"
                                            data-api-url="{% url 'forum:post-detail' post.pk %}">
                                            <span class="label label-danger">Hide</span>
                                        </a>
                                    </p>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>


                            <form method="POST">
                                {% csrf_token %}
                                <h2>Your Comments</h2>
                                <div class="btn-group">

                                    <div class="controls"> <textarea name="content_raw" id="id_content_raw"
                                            class="textarea form-control" rows="4" cols="80" required=""
                                            placeholder="Write your comment here"></textarea>

                                    </div>
                                    <br>
                                    <div class="reply_button">
                                        <button class="btn btn-sm btn-primary" type="submit" name="submit"><i
                                                class="fa fa-reply"></i> Reply
                                        </button>


                                    </div>

                            </form>
                            </p>


                        </div>
                    </div>


                </li>


            </ul>
        </div>
    </div>
</div>



{% endblock %}

{% block widget_after %}
{% include 'forum/widgets/topic_info.html' %}
{% endblock %}

{% block footer_ext %}
<script>
    $(document).ready(function () {
        $('.reply-to').click(function (e) {
            e.preventDefault();
            var box = $("#reply-content-input, #id_content_raw");
            box.val(box.val() + "@" + $(this).data('username') + "\n");
        });
    });
</script>
{% if request.user.is_superuser %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.12.0/babel.min.js"></script>
<div id="moderation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning modal-confirm">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/babel">
            let patchthread = function (url, data) {
                $.ajax({
                    dataType: 'json',
                    method: 'PATCH',
                    url: url,
                    data: data
                }).done(() => {
                    $('#moderation-modal').find('.modal-body').html(`<p class="text-success">{% trans 'Operation successful' %}</p>`);
                }).fail((xhr, status, error) => {
                    $('#moderation-modal').find('.modal-body').html(`<p class="text-danger">${status}</p>`);
                    console.log(xhr.responseText);
                    console.log(error);
                }).always(() => {
                    $('.modal-confirm').hide();
                });
            };
            $('#moderation-modal').on('show.bs.modal', function (event) {
                $('.modal-confirm').show();
                let button = $(event.relatedTarget);
                let recipient = button.data('whatever');
                let modal = $(this);
                let modalTitle;
                let modalBody;
                let modalCb;
                switch (button.data('action')) {
                    case 'move-thread-up':
                        modalTitle = '{% trans 'Stick to Top' %}';
                        modalBody = `<form>
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">{% trans 'Level (1 - Highest)' %}:</label>
                                <select class="form-control" name="move-thread-up-level">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>{% trans "Don't stick to stop" %}</option>
                                </select>
                              </div>
                            </form>`;
                        modalCb = () => {
                            let level = $('select[name="move-thread-up-level"]').val();
                            if (level === "{% trans "Don't stick to stop" %}") {
                                level = 10
                            } else {
                                level = parseInt(level)
                            }
                            patchthread(
                                button.data('api-url'), {order: level}
                            )
                        };
                        break;
                    case 'open-thread':
                        modalTitle = "{% trans 'Open thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {closed: false});
                        };
                        break;
                    case 'close-thread':
                        modalTitle = "{% trans 'Close thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {closed: true});
                        };
                        break;
                    case 'hide-thread':
                        modalTitle = "{% trans 'Hide thread' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: true});
                        };
                        break;
                    case 'hide-reply':
                        modalTitle = "{% trans 'Hide Reply' %}";
                        modalBody = "{% trans 'Please confirm your action' %}";
                        modalCb = () => {
                            patchthread(button.data('api-url'), {hidden: true});
                        };
                        break;
                    default:
                        modalTitle = modalBody = modalCb = '';
                }
                modal.find('.modal-confirm').click(modalCb);
                modal.find('.modal-title').text(modalTitle);
                modal.find('.modal-body').html(modalBody);
            })
        </script>
{% endif %}

{% endblock %}