{% extends 'forum/base.html' %}
{% load i18n %}
{% load humanize %}
{% load forum_tags %}

{% block left %}
    {% include 'forum/includes/user_info_panel.html' %}
    <div class="panel panel-default">
        <div class="panel-body panel-subtitle">
            <span class="label label-success">
                {% blocktrans with username=user.username%}
                    threads created by {{ username }}
                {% endblocktrans %}
            </span>
        </div>
        <!-- List group -->
        <ul class="list-group thread-list">
            {% for thread in threads %}
                <li class="list-group-item thread-entry">
                    <div class="entry media">
                        <div class="media-body media-middle">
                            <a href="{% url 'forum:thread' pk=thread.pk %}" class="entry-link">
                                {{ thread.title }}
                            </a>
                            <p class="entry-meta">
                                <a href="{% url 'forum:topic' thread.topic.pk %}">
                                        <span class="label label-default meta-topic">
                                        {{ thread.topic.title }}
                                        </span>
                                </a>
                                    <span class="meta meta-pub_date">
                                        {{ thread.pub_date | naturaltime }}
                                    </span>
                                    <span class="meta meta-last_replied hidden-xs">
                                        {% trans "Last Replied" %}: {{ thread.last_replied | naturaltime }}
                                    </span>
                            </p>
                        </div>
                        <div class="media-right media-middle">
                            <span class="badge">{{ thread.reply_count }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <li class="list-group-item">
                <a href="{% url 'forum:user_threads' user.pk %}" class="text-success">{% trans "More threads from this user" %}</a>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-body panel-subtitle">
            <span class="label label-success">
                {% blocktrans with username=user.username%}
                    Replies from {{ username }}
                {% endblocktrans %}
            </span>
        </div>
        <!-- List group -->
        <ul class="list-group thread-list">
            {% for reply in replies %}
                <li class="list-group-item reply-entry reply-entry-title">
                    {% trans "Replied to" %}
                    <a href="{% url 'forum:thread' pk=reply.thread.pk %}">{{ reply.thread.title }}</a>
                    <span class="pull-right">{{ reply.pub_date | naturaltime }}</span>
                </li>
                <li class="list-group-item reply-entry reply-entry-content">
                    <p>{{ reply.content_rendered | safe }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}