{% load static %}

<div class="outerDiv">

    <div class="col-md-6 col-sm-12 col xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Chapter {{ object.Chapter_No }}
                    : {{ object.Chapter_Name }} </h2></div>
                     <a class="btn-sm btn-success"
                       href="{% url 'chapterviewer' object.Lecture_Code.id object.id %}">Lecture
                        Viewer &nbsp;</a>
            {% if '/students' not in request.path %}
                <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="buttons">
                    <a class="btn-sm btn-primary"
                       href="{% if '/teachers' in request.path %}
                /teachers{{ object.get_update_url }}
            {% else %}
                {{ object.get_update_url }}
            {% endif %}">Edit Chapter &nbsp;</a>
                    <a class="btn-sm btn-success"
                       href="{% url 'chapterpagebuilder' object.Lecture_Code.id object.id %}">Lecture
                        Builder &nbsp;</a>
                    <a class="btn-sm btn-danger" href="{{ object.get_delete_url }}">Delete Chapter</a>
                </div>
            {% endif %}
            <div class="col-md-12 col-sm-12 col-xs-12" id="tabs">
                <table class="table">
                    <tr>
                        <td>Summary</td>
                        <td>{{ object.Summary }}</td>
                    </tr>
                    <tr>
                        <td>Page Number</td>
                        <td>{{ object.Page_Num }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ object.Use_Flag }}</td>
                    </tr>
                    <tr>
                        <td>Register Agent</td>
                        <td>{{ object.Register_Agent }}</td>
                    </tr>
                    <tr>
                        <td>Lecture Code</td>
                        <td>{{ object.Lecture_Code }}</td>
                    </tr>
                    <tr>
                        <td>Pre Test Quiz</td>
                        <td>
                            <div class="btn-group" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]"
                                           checked="checked">ON</label>
                                <label class="btn btn-default btn-off-3 btn-sm" id="ExpireButton">
                                    <input type="radio" value="0"
                                           name="multifeatured_module[module_id][status]">OFF</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Post Test Quiz</td>
                        <td>
                            <div class="btn-group" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]"
                                           checked="checked">ON</label>
                                <label class="btn btn-default btn-off-3 btn-sm" id="ExpireButton">
                                    <input type="radio" value="0"
                                           name="multifeatured_module[module_id][status]">OFF</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 xol-xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Assignments</h2>
            </div>
            {% if '/students' not in request.path %}
                <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="buttons">
                    <a class="btn-sm btn-success" href="{% if '/teachers' in request.path %}
                        {% url 'teacher_assignmentinfo_create' %}
                    {% else %}
                        {% url 'assignmentinfo_create' course=object.Lecture_Code.id chapter=object.pk %}
                    {% endif %}">Create new Assignment</a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            <hr class="header_hr">
            {% for o in assignments %}
                <div class="col-md-12 col-sm-12 col-xs-12 leftborder"  style="margin-bottom: 5px;">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5>
                        <h5>
                            <b style="color: #000000">{{ o.Assignment_Topic }}</b>
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{% if '/students' in request.path %}
                                {{ o.student_get_absolute_url }}
                            {% else %}
                               {{ o.get_absolute_url }}
                            {% endif %}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <hr style="margin-top: 1px; margin-bottom: 10px;">
                        <p>Submission Deadline - {{ o.Assignment_Deadline }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

