{% load static %}
<div class="chapterInfoListClass">
     <h2 class="tableHeader">List of Chapters</h2><br>
    <h2 class="tableHeader">{{ object.Lecture_Code }}</h2>
    <hr class="header_hr">

    <div class="btn-createnew">
        <a class="btn btn-success" href="{% if '/teachers' in request.path %}
                {% url 'teacher_chapterinfo_create' %}
            {% else %}
                {% url 'chapterinfo_create' %}
            {% endif %}">Create new Chapter</a>
    </div>
    <br><br><br>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for object in object_list %}
            <div class="col-md-12 col-sm-12 col-xs-12 boxShadow" style="box-shadow: gainsboro; margin: 10px;">
                <div class="col-md-8">
                    <h5 style="padding-top: 3px; color: #000000"> Chapter No: {{ object.Chapter_No }}</h5>
                    <h3>
                        <b style="color: #000000">{{ object.Chapter_Name }}</b>
                    </h3>
                </div>
                <div class="col-md-4">
                    <a href="{% if '/teachers' in request.path %}
                                /teachers{{ object.get_absolute_url }}
                            {% else %}
                               {{ object.get_absolute_url }}
                            {% endif %}">
                        <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                        </button>
                    </a>
                </div>

                <div class="col-md-12" style="margin-bottom: 10px; ">
                    <hr style="margin-top: 5px; margin-bottom: 10px;">
                    <p>{{ object.Summary }}</p>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
