{% load static %}

<div class="outerDiv">
    <div class="col-md-8 col-sm-12 col xs-12"><h1 align="center"><b>Chapter {{ object.Chapter_No }}
        : {{ object.Chapter_Name }} </b></h1></div>
    <div class="col-md-4 col-sm-12 col xs-12" id="buttons">
        <a class="btn btn-primary" href="{% if '/teachers' in request.path %}
                /teachers{{ object.get_update_url }}
            {% else %}
                {{ object.get_update_url }}
            {% endif %}">Edit Chapter</a>
        <a class="btn btn-success" href="{% url 'teacher_chapterinfo_build'  %}">Lecture Builder</a>
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">Delete Chapter</a>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" id="tabs">
        <table class="table">
            <tr>
                <td>Summary</td>
                <td>{{ object.Summary }}</td>
            </tr>
            <tr>
                <td>Page Number</td>
                <td>{{ object.Page_Num }}</td>
            </tr>
            <tr>
                <td>Use Flag</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>
            <tr>
                <td>Register Agent</td>
                <td>{{ object.Register_Agent }}</td>
            </tr>
            <tr>
                <td>Lecture Code</td>
                <td>{{ object.Lecture_Code }}</td>
            </tr>
        </table>
    </div>
</div>

