{% load static %}

<div class="outerDiv">

    <div class="col-md-6 col-sm-12 col xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Chapter {{ object.Chapter_No }}
                    : {{ object.Chapter_Name }} </h2></div>
                     <a class="btn-sm btn-success"
                       href="#" id="lecture-viewer" data-toggle="modal" data-target="#lecture-modal">Lecture
                        Viewer &nbsp;</a>
                    
            {% if '/students' not in request.path %}
                <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="buttons">
                    <a class="btn-sm btn-primary"
                       href="{% if '/teachers' in request.path %}
                /teachers{{ object.get_update_url }}
            {% else %}
                {{ object.get_update_url }}
            {% endif %}">Edit Chapter &nbsp;</a>
                    <a class="btn-sm btn-success"
                       href="{% url 'chapterpagebuilder' object.Lecture_Code.id object.id %}">Lecture
                        Builder &nbsp;</a>
                    <a class="btn-sm btn-danger" href="{{ object.get_delete_url }}">Delete Chapter</a>
                </div>
            {% endif %}
            <div class="col-md-12 col-sm-12 col-xs-12" id="tabs">
                <table class="table">
                    <tr>
                        <td>Summary</td>
                        <td>{{ object.Summary }}</td>
                    </tr>
                    <tr>
                        <td>Page Number</td>
                        <td>{{ object.Page_Num }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ object.Use_Flag }}</td>
                    </tr>
                    <tr>
                        <td>Register Agent</td>
                        <td>{{ object.Register_Agent }}</td>
                    </tr>
                    <tr>
                        <td>Lecture Code</td>
                        <td>{{ object.Lecture_Code }}</td>
                    </tr>
                    <tr>
                        <td>Pre Test Quiz</td>
                        <td>
                            <div class="btn-group" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]"
                                           checked="checked">ON</label>
                                <label class="btn btn-default btn-off-3 btn-sm" id="ExpireButton">
                                    <input type="radio" value="0"
                                           name="multifeatured_module[module_id][status]">OFF</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Post Test Quiz</td>
                        <td>
                            <div class="btn-group" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]"
                                           checked="checked">ON</label>
                                <label class="btn btn-default btn-off-3 btn-sm" id="ExpireButton">
                                    <input type="radio" value="0"
                                           name="multifeatured_module[module_id][status]">OFF</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 xol-xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Assignments</h2>
            </div>
            {% if '/students' not in request.path %}
                <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="buttons">
                    <a class="btn-sm btn-success" href="{% if '/teachers' in request.path %}
                        {% url 'teacher_assignmentinfo_create' %}
                    {% else %}
                        {% url 'assignmentinfo_create' course=object.Lecture_Code.id chapter=object.pk %}
                    {% endif %}">Create new Assignment</a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            <hr class="header_hr">
            {% for o in assignments %}
                <div class="col-md-12 col-sm-12 col-xs-12 leftborder"  style="margin-bottom: 5px;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5>
                        <h5>
                            <b style="color: #000000">{{ o.Assignment_Topic }}</b>
                        </h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="{% if '/students' in request.path %}
                                {{ o.student_get_absolute_url }}
                            {% else %}
                               {{ o.get_absolute_url }}
                            {% endif %}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <hr style="margin-top: 1px; margin-bottom: 10px;">
                        <p>Submission Deadline - {{ o.Assignment_Deadline }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{# Modal for chapter view #}

<!-- Modal -->
<div id="lecture-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
              <span id="chaptertitle">
                  <!-- Chapter title goes here -->
              </span></h4>
            <button id="prev-btn" class="btn btn-secondary">Previous</button>
            <button id="next-btn" class="btn btn-secondary">Next</button>
        </div>
        <div class="modal-body" id="modal-container" style="position: relative">
            
        </div>
      </div>
  
    </div>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   
<script>
    $('#lecture-viewer').click(function(){
        $.ajax({
            type: "GET",
            url: "{% url 'chapterviewer' %}",  // URL to your view that serves new info
            data: {
                'chapterID': '{{ object.id }}'
            },
            success: function(response) {
                // $("#model-content").append(response.data.numberofpages);
                loaddata(response.data)
            },
            error: function(){
                console.log('Error in getting chapters')
            }
        });
    });

    function loaddata(data){
        $.each(data.pages, function(key, value){
            console.log(value)
            $.each(value, function(count){

                // Create modal
                $('#modal-container').append(`
                <div id="page${key}" class="modal" role="dialog" style="display:none; position:absolute">
                    <div class="modal-body" style="position:relative">
                        
                    </div>
                </div>
                `)
                
                // -------------------------------
                $.each(value[count], function(div,div_value){
                    if(div == 'textdiv'){
                        $.each(div_value, function(css, css_value){
                            // css_string = JSON.stringify(css_value)
                            $('#page'+key+' > .modal-body').append(`
                                <div style = "position: absolute; top: ${css_value.tops}; left: ${css_value.left};">
                                    ${css_value.content} 
                                </div>
                            `);
                        });
                    }
                    if(div == 'pic'){
                        $.each(div_value, function(css, css_value){
                            src = css_value['background-image']
                            imgsrc = src.match(/(["'])(?:(?=(\\?))\2.)*?\1/);
                            $('#page'+key+ '> .modal-body').append(`
                                <div style = "position: absolute; top: ${css_value.tops}; left: ${css_value.left}; width = 100%">
                                    <image src = ${imgsrc} width =100% height= 100%/>
                                </div>
                            `);
                        });
                    }
                });
            });
        });
        $('#page1').css('display','block');

    // $("#modal-content").append(htmlContent);
    }

    $('#next-btn').click(function(){
        $("#modal-container > div ").each(function(){
            if($(this).css("display")=="block"){
                res = this.id.match(/[0-9]+/);
                $(this).css("display", "none");
            }
        });
        res++;
        $('#page'+res).css("display", "block")
    });
    $('#prev-btn').click(function(){
        $("#modal-container > div ").each(function(){
            if($(this).css("display")=="block"){
                res = this.id.match(/[0-9]+/);
                $(this).css("display", "none");
            }
        });
        res--;
        $('#page'+res).css("display", "block")
    });
</script>
