*{
    box-sizing: border-box;
    text-align: center;
    
    
}

.centerInfoListingHeader{
   margin-top: 40px;
}

.centerInfoForm{
    margin-left: 35%;
    margin-right: 35%;
}

    
.submitButton{
    margin-top: 30px;
}

.btn-default{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.form-control-label{
    font-weight: bold;
}