
.centerInfoListClass{
    margin-top: 40px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

a.btn-default{
    font-weight: bold;
    font-size: 30px;
    
}

.title-div{
    padding-bottom: 30px;
}

.tableTitleRow{
    background-color: azure;
    font-weight: bold;
}

.table,td,th{
    border: 1px solid grey;
    
    
}

.tableDiv{
    padding-top:20px ;
}



.btn-createnew{
    
    padding-top:20px;
}

