.btn-default{
    font-size: 30px;
    font-weight: bold;
}

.out{
    text-align: center;
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.table,td,th{
    border: 1px solid grey;
}

.font{
    font-weight: bold;
    background-color: azure;
}

.table{
    text-align: center; 
    border: 1px solid black;
}