.btn-default{
    font-size: 30px;
    font-weight: bold;
}

.out{
    text-align: center;
    margin-top: 40px;
    padding-left: 600px;
    padding-right: 600px;
}
.form-control-label{
    font-weight: bold;
}