.memberInfoForm-outerDiv{
    margin-top: 40px;
    text-align: center;
    padding-left: 600px;
    padding-right: 600px;
}

a.btn-default{
    font-weight: bold;
    font-size: 30px;
}

.form-control-label{
    font-weight: bold;
}

#id_Register_DateTime{
    height: 40px;
    text-align: center;
}

.btn-submit{
      padding-top:20px;
}